### Opportunity Data

In [170]:
# Query all Opportunity records
query = "SELECT Id, Opportunity_Number_Auto__c, Name, OwnerId, Membership_Start_Date__c, Membership_Expiration_Date__c, StageName, Membership_Location__c, CloseDate, Amount, Term_Length__c, \
            Payment1__c, Payment_Method__c, Payment_Completed_Date__c, Payment2__c, Payment_2_Method__c, Payment_2_Completed_Date__c, Payment_Notes__c, \
            ADHOC_1_Payment_Amount__c, ADHOC_1_Payment_Date__c, ADHOC_1_Payment_Method__c, ADHOC_2_Payment_Amount__c, ADHOC_2_Payment_Date__c, ADHOC_2_Payment_Method__c, ADHOC_3_Payment_Amount__c, ADHOC_3_Payment_Date__c, ADHOC_3_Payment_Method__c, ADHOC_4_Payment_Amount__c, ADHOC_4_Payment_Date__c, ADHOC_4_Payment_Method__c, ADHOC_5_Payment_Amount__c, ADHOC_5_Payment_Date__c, ADHOC_5_Payment_Method__c, ADHOC_6_Payment_Amount__c, ADHOC_6_Payment_Date__c, ADHOC_6_Payment_Method__c, \
            AccountId, IsDeleted, LastModifiedDate, CreatedDate \
        FROM Opportunity"
opportunities = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
opportunity_data = []

# Collect data
for opp in opportunities:
    opportunity_data.append({
        'Id': opp['Id'],
        'Opportunity_Number_Auto__c': opp['Opportunity_Number_Auto__c'],
        'Name': opp['Name'] ,
        'OwnerId': opp['OwnerId'] ,
        'Membership_Start_Date__c' : opp['Membership_Start_Date__c'],
        'Membership_Expiration_Date__c' : opp['Membership_Expiration_Date__c'], 
        'Stage': opp['StageName'],
        'Membership_Location__c' : opp['Membership_Location__c'],
        'Close Date': opp['CloseDate'],
        'Amount': opp['Amount'],
        'Term_Length__c' : opp['Term_Length__c'],
        'Payment1__c' : opp['Payment1__c'],
        'Payment_Method__c' : opp['Payment_Method__c'],
        'Payment_Completed_Date__c' : opp['Payment_Completed_Date__c'],
        'Payment2__c' : opp['Payment2__c'],
        'Payment_2_Method__c' : opp['Payment_2_Method__c'],
        'Payment_2_Completed_Date__c' : opp['Payment_2_Completed_Date__c'],
        'Payment_Notes__c' : opp['Payment_Notes__c'],
        'ADHOC_1_Payment_Amount__c' : opp['ADHOC_1_Payment_Amount__c'],
        'ADHOC_1_Payment_Date__c' : opp['ADHOC_1_Payment_Date__c'],
        'ADHOC_1_Payment_Method__c' : opp['ADHOC_1_Payment_Method__c'],
        'ADHOC_2_Payment_Amount__c' : opp['ADHOC_2_Payment_Amount__c'],
        'ADHOC_2_Payment_Date__c' : opp['ADHOC_2_Payment_Date__c'],
        'ADHOC_2_Payment_Method__c' : opp['ADHOC_2_Payment_Method__c'],
        'ADHOC_3_Payment_Amount__c' : opp['ADHOC_3_Payment_Amount__c'],
        'ADHOC_3_Payment_Date__c' : opp['ADHOC_3_Payment_Date__c'],
        'ADHOC_3_Payment_Method__c' : opp['ADHOC_3_Payment_Method__c'],
        'ADHOC_4_Payment_Amount__c' : opp['ADHOC_4_Payment_Amount__c'],
        'ADHOC_4_Payment_Date__c' : opp['ADHOC_4_Payment_Date__c'],
        'ADHOC_4_Payment_Method__c' : opp['ADHOC_4_Payment_Method__c'],
        'ADHOC_5_Payment_Amount__c' : opp['ADHOC_5_Payment_Amount__c'],
        'ADHOC_5_Payment_Date__c' : opp['ADHOC_5_Payment_Date__c'],
        'ADHOC_5_Payment_Method__c' : opp['ADHOC_5_Payment_Method__c'],
        'ADHOC_6_Payment_Amount__c' : opp['ADHOC_6_Payment_Amount__c'],
        'ADHOC_6_Payment_Date__c' : opp['ADHOC_6_Payment_Date__c'],
        'ADHOC_6_Payment_Method__c' : opp['ADHOC_6_Payment_Method__c'],
        'AccountId' : opp['AccountId'],
        'IsDeleted' : opp['IsDeleted'],
        'LastModifiedDate' : opp['LastModifiedDate'],
        'CreatedDate' : opp['CreatedDate'],
    })

# Convert list of dictionaries to a DataFrame
opportunities_df = pd.DataFrame(opportunity_data)

opportunities_df = opportunities_df.rename(columns={'Id': 'Salesforce Opportunity ID'})
opportunities_df = opportunities_df.rename(columns={'Opportunity_Number_Auto__c': 'Opportunity ID'})
opportunities_df = opportunities_df.rename(columns={'Stage': 'Opportunity Stage'})
opportunities_df = opportunities_df.rename(columns={'Membership_Start_Date__c': 'Membership Start Date'})
opportunities_df = opportunities_df.rename(columns={'Membership_Expiration_Date__c': 'Membership End Date'})
opportunities_df = opportunities_df.rename(columns={'Membership_Location__c': 'Membership Location'})
opportunities_df = opportunities_df.rename(columns={'Term_Length__c': 'Opportunity Term Length (Years)'})
opportunities_df['Opportunity Term Length (Months)'] = opportunities_df['Opportunity Term Length (Years)'] * 12
opportunities_df = opportunities_df.rename(columns={'Close Date': 'Opportunity Close Date'})
opportunities_df = opportunities_df.rename(columns={'Amount': 'Opportunity Amount'})
opportunities_df = opportunities_df.rename(columns={'Payment1__c': 'Payment 1 Amount'})
opportunities_df = opportunities_df.rename(columns={'Payment_Method__c': 'Payment 1 Method'})
opportunities_df = opportunities_df.rename(columns={'Payment_Completed_Date__c': 'Payment 1 Completed Date'})
opportunities_df = opportunities_df.rename(columns={'Payment2__c': 'Payment 2 Amount'})
opportunities_df = opportunities_df.rename(columns={'Payment_2_Method__c': 'Payment 2 Method'})
opportunities_df = opportunities_df.rename(columns={'Payment_2_Completed_Date__c': 'Payment 2 Completed Date'})
opportunities_df = opportunities_df.rename(columns={'Payment_Notes__c': 'Payment Notes'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_1_Payment_Amount__c': 'ADHOC Payment Amount 1'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_1_Payment_Date__c': 'ADHOC Payment Date 1'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_1_Payment_Method__c': 'ADHOC Payment Method 1'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_2_Payment_Amount__c': 'ADHOC Payment Amount 2'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_2_Payment_Date__c': 'ADHOC Payment Date 2'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_2_Payment_Method__c': 'ADHOC Payment Method 2'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_3_Payment_Amount__c': 'ADHOC Payment Amount 3'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_3_Payment_Date__c': 'ADHOC Payment Date 3'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_3_Payment_Method__c': 'ADHOC Payment Method 3'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_4_Payment_Amount__c': 'ADHOC Payment Amount 4'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_4_Payment_Date__c': 'ADHOC Payment Date 4'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_4_Payment_Method__c': 'ADHOC Payment Method 4'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_5_Payment_Amount__c': 'ADHOC Payment Amount 5'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_5_Payment_Date__c': 'ADHOC Payment Date 5'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_5_Payment_Method__c': 'ADHOC Payment Method 5'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_6_Payment_Amount__c': 'ADHOC Payment Amount 6'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_6_Payment_Date__c': 'ADHOC Payment Date 6'})
opportunities_df = opportunities_df.rename(columns={'ADHOC_6_Payment_Method__c': 'ADHOC Payment Method 6'})
opportunities_df = opportunities_df.rename(columns={'AccountId': 'Salesforce Account ID'})
opportunities_df = opportunities_df.rename(columns={'IsDeleted': 'Opportunity Deleted'})
opportunities_df = opportunities_df.rename(columns={'LastModifiedDate': 'Opportunity Last Modified Date'})
opportunities_df = opportunities_df.rename(columns={'CreatedDate': 'Opportunity Created Date'})
opportunities_df['Opportunity Created Date'] = pd.to_datetime(opportunities_df['Opportunity Created Date']).dt.date
opportunities_df['Opportunity Last Modified Date'] = pd.to_datetime(opportunities_df['Opportunity Last Modified Date']).dt.date



opportunities_df.head(3)

,Salesforce Opportunity ID,Opportunity ID,Name,OwnerId,Membership Start Date,Membership End Date,Opportunity Stage,Membership Location,Opportunity Close Date,Opportunity Amount,Opportunity Term Length (Years),Payment 1 Amount,Payment 1 Method,Payment 1 Completed Date,Payment 2 Amount,Payment 2 Method,Payment 2 Completed Date,Payment Notes,ADHOC Payment Amount 1,ADHOC Payment Date 1,ADHOC Payment Method 1,ADHOC Payment Amount 2,ADHOC Payment Date 2,ADHOC Payment Method 2,ADHOC Payment Amount 3,ADHOC Payment Date 3,ADHOC Payment Method 3,ADHOC Payment Amount 4,ADHOC Payment Date 4,ADHOC Payment Method 4,ADHOC Payment Amount 5,ADHOC Payment Date 5,ADHOC Payment Method 5,ADHOC Payment Amount 6,ADHOC Payment Date 6,ADHOC Payment Method 6,Salesforce Account ID,Opportunity Deleted,Opportunity Last Modified Date,Opportunity Created Date,Opportunity Term Length (Months)
0,0061J00000QJ4gMQAT,OPP-03467,Q3 Angeles Clinic Santa Monica HLIQ Oncology -...,005o000000435RFAAY,None,None,Closed Lost,None,2017-09-30,"3,200.00",NaN,NaN,None,None,NaN,None,None,None,NaN,None,None,NaN,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,0011J000017r2dvQAA,False,2018-01-25,2017-05-25,NaN
1,0061J00000QJ4gkQAD,OPP-03468,Q4 Angeles Clinic Santa Monica HLIQ Oncology -...,005o000000435RFAAY,None,None,Closed Lost,None,2017-12-31,"3,200.00",NaN,NaN,None,None,NaN,None,None,None,NaN,None,None,NaN,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,0011J000017r2dvQAA,False,2018-01-25,2017-05-25,NaN
2,0061J00000QKni1QAD,OPP-04123,JCVI Health Nucleus,005o00000023qORAAY,None,None,Closed Won,None,2016-09-29,"450,000.00",NaN,NaN,None,None,NaN,None,None,None,NaN,None,None,NaN,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,001o000000RT1ojAAD,False,2018-01-25,2017-08-08,NaN

### User Data

In [171]:
# Query all Opportunity records
query = "select Id, Username, LastName, FirstName, MiddleName, Name from User"
user = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
user_data = []

# Collect data
for usr in user:
    user_data.append({
        'Id': usr['Id'],
        'Username': usr['Username'] ,
        'Name' : usr['Name']
    })

# Convert list of dictionaries to a DataFrame
user_data_df = pd.DataFrame(user_data)

user_data_df = user_data_df.rename(columns={'Id': 'Salesforce User ID'})
user_data_df = user_data_df.rename(columns={'Username': 'Username'})
user_data_df = user_data_df.rename(columns={'Name': 'Employee Name'})

user_data_df.tail(2)

,Salesforce User ID,Username,Employee Name
496,005o0000000UQyyAAG,padmak577@gmail.com,Padma Kodukula
497,005o0000000aR0hAAE,chatty.00do0000000hvfzeao.ntg7uzkj8uuv@chatter...,Chatter Expert

### Opportunity History - Membership Start Date Data

In [172]:
# Query all Opportunity records
query = "select Id, IsDeleted, OpportunityId, CreatedById, CreatedDate, Field, DataType, OldValue, NewValue from OpportunityFieldHistory where Field = 'Membership_Start_Date__c'"
opportunitity_history = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
opportunity_history_data = []

# Collect data
for opp_history in opportunitity_history:
    opportunity_history_data.append({
        'Id': opp_history['Id'],
        'OpportunityId': opp_history['OpportunityId'] ,
        'CreatedById' : opp_history['CreatedById'],
        'CreatedDate' : opp_history['CreatedDate'],
        'Field' : opp_history['Field'],
        'DataType' : opp_history['DataType'],
        'OldValue' : opp_history['OldValue'],
        'NewValue' : opp_history['NewValue'],
        'IsDeleted': opp_history['IsDeleted']
    })

# Convert list of dictionaries to a DataFrame
opportunity_history_df = pd.DataFrame(opportunity_history_data)

#Left JOIN with User object
opportunity_history_df = pd.merge(opportunity_history_df, user_data_df, how='left', left_on='CreatedById', right_on='Salesforce User ID')


opportunity_history_df = opportunity_history_df.rename(columns={'Id': 'Opportunity History ID'})
opportunity_history_df = opportunity_history_df.rename(columns={'IsDeleted': 'Deleted'})
opportunity_history_df = opportunity_history_df.rename(columns={'OpportunityId': 'Salesforce Opportunity ID'})
opportunity_history_df = opportunity_history_df.rename(columns={'CreatedById': 'Updated By ID'})
opportunity_history_df = opportunity_history_df.rename(columns={'CreatedDate': 'Updated Date'})
opportunity_history_df = opportunity_history_df.rename(columns={'Field': 'Field Updated'})
opportunity_history_df = opportunity_history_df.rename(columns={'DataType': 'Data Type'})
opportunity_history_df = opportunity_history_df.rename(columns={'OldValue': 'Old Value'})
opportunity_history_df = opportunity_history_df.rename(columns={'NewValue': 'New Value'})
opportunity_history_df = opportunity_history_df.sort_values(by='Updated Date', ascending=False)
opportunity_history_df.dropna(subset=['Old Value'], inplace=True)
opportunity_history_df['Updated Date'] = pd.to_datetime(opportunity_history_df['Updated Date'])

min_opportunity_start_date_updates = opportunity_history_df.groupby(['Salesforce Opportunity ID','Old Value'])['Updated Date'].min().reset_index() #Minimum update date for each Opportunity
min_opportunity_start_date_updates['Rank'] = min_opportunity_start_date_updates.groupby('Salesforce Opportunity ID')['Updated Date'].rank(method='first')
min_opportunity_start_date_updates = min_opportunity_start_date_updates[min_opportunity_start_date_updates['Rank'] == 1]

min_opportunity_start_date_updates = min_opportunity_start_date_updates.rename(columns={'Old Value': '1st Membership Start Date (IF UPDATED)'})

opportunity_history_df['Concatenated Old Value'] = opportunity_history_df['Old Value'] + ' (updated ' + opportunity_history_df['Updated Date'].dt.strftime('%Y-%m-%d') + ' by ' + opportunity_history_df['Employee Name'] + ')'
opportunity_history_df = opportunity_history_df.groupby('Salesforce Opportunity ID')['Concatenated Old Value'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()
opportunity_history_df.rename(columns={'Concatenated Old Value': 'Prior Membership Start Date(s)'}, inplace=True)

In [173]:
min_opportunity_start_date_updates[min_opportunity_start_date_updates['Salesforce Opportunity ID'] == '0065c000014pbidAAA']

,Salesforce Opportunity ID,1st Membership Start Date (IF UPDATED),Updated Date,Rank
102,0065c000014pbidAAA,2023-03-17,2024-01-09 15:43:53+00:00,1.00

### Opportunity History - Membership End Date Data

In [174]:
# Query all Opportunity END DATE records
query = "select Id, IsDeleted, OpportunityId, CreatedById, CreatedDate, Field, DataType, OldValue, NewValue from OpportunityFieldHistory where Field = 'Membership_Expiration_Date__c'"
opportunitity_history_end = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
opportunity_history_end_date_data = []

# Collect data
for opp_history_end in opportunitity_history_end:
    opportunity_history_end_date_data.append({
        'Id': opp_history_end['Id'],
        'OpportunityId': opp_history_end['OpportunityId'] ,
        'CreatedById' : opp_history_end['CreatedById'],
        'CreatedDate' : opp_history_end['CreatedDate'],
        'Field' : opp_history_end['Field'],
        'DataType' : opp_history_end['DataType'],
        'OldValue' : opp_history_end['OldValue'],
        'NewValue' : opp_history_end['NewValue'],
        'IsDeleted': opp_history_end['IsDeleted']
    })

# Convert list of dictionaries to a DataFrame
opportunity_history_end_date_df = pd.DataFrame(opportunity_history_end_date_data)

#Left JOIN with User object
opportunity_history_end_date_df = pd.merge(opportunity_history_end_date_df, user_data_df, how='left', left_on='CreatedById', right_on='Salesforce User ID')


opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'Id': 'Opportunity History ID'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'IsDeleted': 'Deleted'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'OpportunityId': 'Salesforce Opportunity ID'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'CreatedById': 'Updated By ID'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'CreatedDate': 'Updated Date'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'Field': 'Field Updated'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'DataType': 'Data Type'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'OldValue': 'Old Value'})
opportunity_history_end_date_df = opportunity_history_end_date_df.rename(columns={'NewValue': 'New Value'})
opportunity_history_end_date_df = opportunity_history_end_date_df.sort_values(by='Updated Date', ascending=False)
opportunity_history_end_date_df.dropna(subset=['Old Value'], inplace=True)
opportunity_history_end_date_df['Updated Date'] = pd.to_datetime(opportunity_history_end_date_df['Updated Date'])
opportunity_history_end_date_df['Concatenated Old Value'] = opportunity_history_end_date_df['Old Value'] + ' (updated ' + opportunity_history_end_date_df['Updated Date'].dt.strftime('%Y-%m-%d') + ' by ' + opportunity_history_end_date_df['Employee Name'] + ')'
opportunity_history_end_date_df = opportunity_history_end_date_df.groupby('Salesforce Opportunity ID')['Concatenated Old Value'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()
opportunity_history_end_date_df.rename(columns={'Concatenated Old Value': 'Prior Membership Expiration Date(s)'}, inplace=True)
opportunity_history_end_date_df.head(2)

  Salesforce Opportunity ID                Prior Membership Expiration Date(s)
0        0061J00000R5jdBQAR  2023-06-07 (updated 2023-04-12 by Anthony O'Co...
1        0061J00000UlmYaQAJ  2022-12-01 (updated 2023-03-23 by Anthony O'Co...

In [175]:
opportunity_history_end_date_df[opportunity_history_end_date_df['Salesforce Opportunity ID'] == '0065c000014pbidAAA']

,Salesforce Opportunity ID,Prior Membership Expiration Date(s)
219,0065c000014pbidAAA,2024-03-17 (updated 2024-01-09 by Anthony O'Co...

### Opportunity Owner

In [176]:
opportunities_df = pd.merge(opportunities_df, user_data_df, how='left', left_on='OwnerId', right_on='Salesforce User ID')
opportunities_df = opportunities_df.rename(columns={'Employee Name': 'Salesforce Opportunity Owner'})

### Opportunity History - Payment #1 & Payment #2  Information

In [177]:
# Query all Payment information records
query = "select Id, IsDeleted, OpportunityId, CreatedById, CreatedDate, Field, DataType, OldValue, NewValue from OpportunityFieldHistory where Field in ('Payment1__c','Payment_Completed_Date__c','Payment2__c','Payment_2_Completed_Date__c')"
opportunitity_history_payments = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
opportunity_history_payments_data = []

# Collect data
for opp_history_pay in opportunitity_history_payments:
    opportunity_history_payments_data.append({
        'Id': opp_history_pay['Id'],
        'OpportunityId': opp_history_pay['OpportunityId'] ,
        'CreatedById' : opp_history_pay['CreatedById'],
        'CreatedDate' : opp_history_pay['CreatedDate'],
        'Field' : opp_history_pay['Field'],
        'DataType' : opp_history_pay['DataType'],
        'OldValue' : opp_history_pay['OldValue'],
        'NewValue' : opp_history_pay['NewValue'],
        'IsDeleted': opp_history_pay['IsDeleted']
    })

# Convert list of dictionaries to a DataFrame
opportunity_history_payments_data_df = pd.DataFrame(opportunity_history_payments_data)

#Left JOIN with User object
opportunity_history_payments_data_df = pd.merge(opportunity_history_payments_data_df, user_data_df, how='left', left_on='CreatedById', right_on='Salesforce User ID')


opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'Id': 'Opportunity History ID'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'IsDeleted': 'Deleted'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'OpportunityId': 'Salesforce Opportunity ID'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'CreatedById': 'Updated By ID'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'CreatedDate': 'Updated Date'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'Field': 'Field Updated'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'DataType': 'Data Type'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'OldValue': 'Old Value'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.rename(columns={'NewValue': 'New Value'})
opportunity_history_payments_data_df = opportunity_history_payments_data_df.sort_values(by='Updated Date', ascending=False)
opportunity_history_payments_data_df.dropna(subset=['Old Value'], inplace=True)
opportunity_history_payments_data_df['Updated Date'] = pd.to_datetime(opportunity_history_payments_data_df['Updated Date'])
opportunity_history_payments_data_df['Concatenated Old Value'] = opportunity_history_payments_data_df['Old Value'] + ' (updated ' + opportunity_history_payments_data_df['Updated Date'].dt.strftime('%Y-%m-%d') + ' by ' + opportunity_history_payments_data_df['Employee Name'] + ')'
opportunity_history_payments_data_df.rename(columns={'Concatenated Old Value': 'Prior Value'}, inplace=True)

payment1_amount_df = opportunity_history_payments_data_df[opportunity_history_payments_data_df['Field Updated'] == 'Payment1__c']
payment1_amount_df = payment1_amount_df.rename(columns={'Prior Value': 'Prior Payment 1 Values'})
payment1_amount_df = payment1_amount_df.groupby('Salesforce Opportunity ID')['Prior Payment 1 Values'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()

payment1_completeddate_df = opportunity_history_payments_data_df[opportunity_history_payments_data_df['Field Updated'] == 'Payment_Completed_Date__c']
payment1_completeddate_df = payment1_completeddate_df.rename(columns={'Prior Value': 'Prior Payment 1 Completed Date Values'})
payment1_completeddate_df = payment1_completeddate_df.groupby('Salesforce Opportunity ID')['Prior Payment 1 Completed Date Values'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()

payment2_amount_df = opportunity_history_payments_data_df[opportunity_history_payments_data_df['Field Updated'] == 'Payment2__c']
payment2_amount_df = payment2_amount_df.rename(columns={'Prior Value': 'Prior Payment 2 Values'})
payment2_amount_df = payment2_amount_df.groupby('Salesforce Opportunity ID')['Prior Payment 2 Values'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()

payment2_completeddate_df = opportunity_history_payments_data_df[opportunity_history_payments_data_df['Field Updated'] == 'Payment_2_Completed_Date__c']
payment2_completeddate_df = payment2_completeddate_df.rename(columns={'Prior Value': 'Prior Payment 2 Completed Date Values'})
payment2_completeddate_df = payment2_completeddate_df.groupby('Salesforce Opportunity ID')['Prior Payment 2 Completed Date Values'].apply(lambda x: ', '.join(filter(None, map(str, x)))).reset_index()


payment2_amount_df.head(5)

  Salesforce Opportunity ID                            Prior Payment 2 Values
0        0061J00000UlmYaQAJ         12500 (updated 2024-01-05 by Megan Smith)
1        0065c00000sB8weAAC  100000 (updated 2024-04-04 by Anthony O'Connell)
2        0065c00000xrb1lAAA      16000 (updated 2024-02-29 by Thomas Rossman)
3        0065c000015gmngAAA          1250 (updated 2024-04-19 by Megan Smith)
4        0065c000015gysUAAQ          1250 (updated 2024-04-19 by Megan Smith)

In [178]:
payment1_completeddate_df[payment1_completeddate_df['Salesforce Opportunity ID'] == '0065c000014pbidAAA']

,Salesforce Opportunity ID,Prior Payment 1 Completed Date Values
62,0065c000014pbidAAA,2023-03-15 (updated 2023-03-16 by Megan Smith)...

In [179]:
opportunity_history_payments_data_df[opportunity_history_payments_data_df['Salesforce Opportunity ID'] == '0065c000014pbidAAA']

,Opportunity History ID,Salesforce Opportunity ID,Updated By ID,Updated Date,Field Updated,Data Type,Old Value,New Value,Deleted,Salesforce User ID,Username,Employee Name,Prior Value
1958,0175c0000wGyImJAAV,0065c000014pbidAAA,0055c000008wFtCAAU,2023-03-16 16:42:22+00:00,Payment_Completed_Date__c,DateOnly,2023-03-15,2023-02-23,False,0055c000008wFtCAAU,msmith@humanlongevity.com,Megan Smith,2023-03-15 (updated 2023-03-16 by Megan Smith)
2094,0175c0000wEZKAxAAP,0065c000014pbidAAA,0055c000008wFtCAAU,2023-03-15 21:54:12+00:00,Payment_Completed_Date__c,DateOnly,2023-02-23,2023-03-15,False,0055c000008wFtCAAU,msmith@humanlongevity.com,Megan Smith,2023-02-23 (updated 2023-03-15 by Megan Smith)
1041,0175c0000wEYntVAAT,0065c000014pbidAAA,005o0000003G1CtAAK,2023-03-15 18:24:38+00:00,Payment_Completed_Date__c,DateOnly,2023-03-15,2023-02-23,False,005o0000003G1CtAAK,aoconnell@humanlongevity.com,Anthony O'Connell,2023-03-15 (updated 2023-03-15 by Anthony O'Co...

### Opportunity Attachments

In [180]:
# Query all Opportunity records
query = "select Id, ParentId, Name from Attachment where IsDeleted = false"
attachments = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
attachment_data = []

# Collect data
for att_data in attachments:
    attachment_data.append({
        'Id': att_data['Id'],
        'ParentId': att_data['ParentId'] ,
        'Name' : att_data['Name'],
    })

# Convert list of dictionaries to a DataFrame
attachment_data_df = pd.DataFrame(attachment_data)

attachment_data_df = attachment_data_df.rename(columns={'Id': 'Attachment ID'})
attachment_data_df = attachment_data_df.rename(columns={'ParentId': 'Salesforce Opportunity ID'})
attachment_data_df = attachment_data_df.rename(columns={'Name': 'Attachment Name'})

attachment_data_df = attachment_data_df.groupby('Salesforce Opportunity ID')['Attachment ID'].nunique().reset_index()

attachment_data_df = attachment_data_df.rename(columns={'Attachment ID': 'Distinct Attachment Count'})

attachment_data_df.head(2)

  Salesforce Opportunity ID  Distinct Attachment Count
0        0011J000017r2dvQAA                          2
1        0011J000017rtVzQAI                          2

### Account Data

In [181]:
# Query all Account records
query = "select Id, Account_Number_Auto__c, Name, Type from Account"
account = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
account_data = []

# Collect data
for acc in account:
    account_data.append({
        'Id': acc['Id'],
        'Account_Number_Auto__c': acc['Account_Number_Auto__c'],
        'Name': acc['Name'],
        'Type': acc['Type'],
    })

# Convert list of dictionaries to a DataFrame
account_df = pd.DataFrame(account_data)

account_df = account_df.rename(columns={'Id': 'Salesforce Account ID'})
account_df = account_df.rename(columns={'Account_Number_Auto__c': 'Account ID'})
account_df = account_df.rename(columns={'Name': 'Account Name'})
account_df = account_df.rename(columns={'Type': 'Account Type'})

account_df.head(2)

  Salesforce Account ID  Account ID  Account Name  Account Type
0    0011J000017ps5JQAQ  ACCT-06513    Fox, David  Person (B2C)
1    0011J000017ps5YQAQ  ACCT-06515  Taylor, Lila  Person (B2C)

In [182]:
# Query all Opportunity Data
query = "SELECT Id, Opportunity_Number_Auto__c, AccountId, Membership_Start_Date__c, Membership_Expiration_Date__c, IsDeleted, LastModifiedDate, CreatedDate FROM Opportunity WHERE IsDeleted  = false ORDER by AccountId"
total_opp = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
total_opp_data = []

# Collect data
for total_opp in total_opp:
    total_opp_data.append({
        'Id': total_opp['Id'],
        'Opportunity_Number_Auto__c': total_opp['Opportunity_Number_Auto__c'],
        'AccountId': total_opp['AccountId'],
        'Membership_Start_Date__c': total_opp['Membership_Start_Date__c'],
        'Membership_Expiration_Date__c': total_opp['Membership_Expiration_Date__c'],
        'IsDeleted': total_opp['IsDeleted'],
        'LastModifiedDate': total_opp['LastModifiedDate'],
        'CreatedDate': total_opp['CreatedDate']
                })

# Convert list of dictionaries to a DataFrame
total_opp_df = pd.DataFrame(total_opp_data)

total_opp_df = total_opp_df.rename(columns={'Id': 'Salesforce Opportunity ID'})
total_opp_df = total_opp_df.rename(columns={'AccountId': 'Account ID'})
total_opp_df = total_opp_df.rename(columns={'Opportunity_Number_Auto__c': 'Opportunity ID'})
total_opp_df = total_opp_df.rename(columns={'Membership_Expiration_Date__c': 'Membership End Date'})
total_opp_df['Membership End Date'] = pd.to_datetime(total_opp_df['Membership End Date'])
total_opp_df = total_opp_df.rename(columns={'Membership_Start_Date__c': 'Membership Start Date'})
total_opp_df['Membership Start Date'] = pd.to_datetime(total_opp_df['Membership Start Date'])


distinct_opportunity_count = total_opp_df.groupby('Account ID')['Salesforce Opportunity ID'].nunique().reset_index()
distinct_opportunity_count.rename(columns={'Salesforce Opportunity ID': 'Distinct Account Opportunity Count(s)'}, inplace=True)
distinct_opportunity_count.rename(columns={'Account ID': 'Salesforce Account ID'}, inplace=True)

opp_membership_start_dates = total_opp_df.dropna(subset=['Membership Start Date'])
opp_membership_start_dates = opp_membership_start_dates.groupby('Account ID')['Membership Start Date'].apply(
    lambda x: ', '.join(x.sort_values(ascending=False).astype(str))
).reset_index()
opp_membership_start_dates.rename(columns={'Membership Start Date': 'Account Membership Start Date(s)'}, inplace=True)
opp_membership_start_dates.rename(columns={'Account ID': 'Salesforce Account ID'}, inplace=True)


opp_membership_end_dates = total_opp_df.dropna(subset=['Membership End Date'])
opp_membership_end_dates = opp_membership_end_dates.groupby('Account ID')['Membership End Date'].apply(
    lambda x: ', '.join(x.sort_values(ascending=False).astype(str))
).reset_index()
opp_membership_end_dates.rename(columns={'Membership End Date': 'Account Membership End Date(s)'}, inplace=True)
opp_membership_end_dates.rename(columns={'Account ID': 'Salesforce Account ID'}, inplace=True)


distinct_opportunity_count.head(5)

  Salesforce Account ID  Distinct Account Opportunity Count(s)
0    0011J000017ps5JQAQ                                      1
1    0011J000017ps5YQAQ                                      3
2    0011J000017ps6lQAA                                      1
3    0011J000017ps7FQAQ                                      1
4    0011J000017psBRQAY                                      1

### Opportunity Line Item Data

In [183]:
# Query all Opportunity Line Item records
query = "select Id, OpportunityId, SortOrder, PricebookEntryId, Product2Id, ProductCode, Name, Product_Short_Name__c, Quantity, TotalPrice, UnitPrice, ListPrice, ServiceDate, Description, CreatedDate, CreatedById, LastModifiedDate, LastModifiedById, SystemModstamp, IsDeleted, LastViewedDate, LastReferencedDate from OpportunityLineItem "
OpportunityLineItem = sf.query_all(query)['records']

# Create a list of dictionaries to hold Opportunity data
Opportunitylineitem_data = []

# Collect data
for opp in OpportunityLineItem:
    Opportunitylineitem_data.append({
        'Id': opp['Id'],
        'OpportunityId': opp['OpportunityId'],
        'Name': opp['Name'],
        'Product_Short_Name__c': opp['Product_Short_Name__c'],
        'Quantity': opp['Quantity'],
        'TotalPrice': opp['TotalPrice'],
        'UnitPrice': opp['UnitPrice'],
        'ListPrice': opp['ListPrice'],
    })

# Convert list of dictionaries to a DataFrame
opportunity_line_item_df = pd.DataFrame(Opportunitylineitem_data)

opportunity_line_item_df = opportunity_line_item_df.rename(columns={'Id': 'Salesforce Opportunity Line Item ID'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'OpportunityId': 'Salesforce Opportunity ID'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'Name': 'Opportunity Product Line Item Name'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'Product_Short_Name__c': 'Opportunity Product Short Name'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'Quantity': 'Product Quantity'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'TotalPrice': 'Product Total Price'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'UnitPrice': 'Unit Price'})
opportunity_line_item_df = opportunity_line_item_df.rename(columns={'ListPrice': 'List Price'})


opportunity_line_item_df.head(3)

,Salesforce Opportunity Line Item ID,Salesforce Opportunity ID,Opportunity Product Line Item Name,Opportunity Product Short Name,Product Quantity,Product Total Price,Unit Price,List Price
0,00k1J00000Vdu38QAB,0061J00000bo9hCQAQ,"Dolce, Donald - PLAT NEW HN Platinum_PR-12002",PLAT NEW,1.00,0.00,0.00,"19,000.00"
1,00k1J00000Vdu4fQAB,0061J00000bo9ieQAA,"Boveri, Joseph - PLAT NEW HN Platinum_PR-12002",PLAT NEW,1.00,0.00,0.00,"19,000.00"
2,00k1J00000YtJBMQA3,0061J00000bo9z4QAA,"Xu, Wei - PLAT NEW HN Platinum_PR-12002",PLAT NEW,1.00,"19,000.00","19,000.00","19,000.00"

In [184]:
product_counts_df = opportunity_line_item_df.groupby('Salesforce Opportunity ID').size().reset_index(name='Number of Opportunity Products')

In [185]:
product_concat_df = (opportunity_line_item_df
             .groupby('Salesforce Opportunity ID', as_index=False)
             .agg({'Opportunity Product Line Item Name': lambda x: ', '.join(x)}))
product_concat_df.rename(columns={'Opportunity Product Line Item Name': 'Opportunity Product Line Item(s)'}, inplace=True)

In [186]:
# Replace NaN or None with an empty string in the column before grouping
opportunity_line_item_df['Opportunity Product Short Name'].fillna('N/A', inplace=True)

# Group by 'Salesforce Opportunity ID' and concatenate 'Opportunity Product Short Name' values
product_short_concat_df = (opportunity_line_item_df
                           .groupby('Salesforce Opportunity ID', as_index=False)
                           .agg({'Opportunity Product Short Name': lambda x: ', '.join(x)}))
product_short_concat_df.rename(columns={'Opportunity Product Short Name': 'Opportunity Product Short Name(s)'}, inplace=True)

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\3857223270.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  opportunity_line_item_df['Opportunity Product Short Name'].fillna('N/A', inplace=True)

In [187]:
product_short_concat_df.head(5)

  Salesforce Opportunity ID Opportunity Product Short Name(s)
0        0061J00000QG3T3QAL            MB (OLD), 2017 OLD HNX
1        0061J00000QG3YRQA1                      2017 OLD HNX
2        0061J00000QG3awQAD                     N/A, MB (OLD)
3        0061J00000QG3d2QAD                     N/A, MB (OLD)
4        0061J00000QG3pcQAD                      HNX PLAT OLD

### JOIN dataframes into a single dataframe

In [188]:
merged_df = pd.merge(opportunities_df, account_df, how='left', on='Salesforce Account ID')
merged_df = pd.merge(merged_df, product_counts_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, product_concat_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, opportunity_history_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, min_opportunity_start_date_updates, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, opportunity_history_end_date_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, payment1_amount_df, how='left', on='Salesforce Opportunity ID', suffixes=('', '_Payment1Amount'))

merged_df[merged_df['Salesforce Opportunity ID'] == '0065c00001LkDz0AAF']

,Salesforce Opportunity ID,Opportunity ID,Name,OwnerId,Membership Start Date,Membership End Date,Opportunity Stage,Membership Location,Opportunity Close Date,Opportunity Amount,Opportunity Term Length (Years),Payment 1 Amount,Payment 1 Method,Payment 1 Completed Date,Payment 2 Amount,Payment 2 Method,Payment 2 Completed Date,Payment Notes,ADHOC Payment Amount 1,ADHOC Payment Date 1,ADHOC Payment Method 1,ADHOC Payment Amount 2,ADHOC Payment Date 2,ADHOC Payment Method 2,ADHOC Payment Amount 3,ADHOC Payment Date 3,ADHOC Payment Method 3,ADHOC Payment Amount 4,ADHOC Payment Date 4,ADHOC Payment Method 4,ADHOC Payment Amount 5,ADHOC Payment Date 5,ADHOC Payment Method 5,ADHOC Payment Amount 6,ADHOC Payment Date 6,ADHOC Payment Method 6,Salesforce Account ID,Opportunity Deleted,Opportunity Last Modified Date,Opportunity Created Date,Opportunity Term Length (Months),Salesforce User ID,Username,Salesforce Opportunity Owner,Account ID,Account Name,Account Type,Number of Opportunity Products,Opportunity Product Line Item(s),Prior Membership Start Date(s),1st Membership Start Date (IF UPDATED),Updated Date,Rank,Prior Membership Expiration Date(s),Prior Payment 1 Values
11943,0065c00001LkDz0AAF,OPP-13627,"Colin, Emine - 100+ Renewal - Multi Year",0055c000007mLykAAE,2023-09-30,2028-09-30,Sales Consult,"Health Nucleus-South San Francisco, CA",2023-11-06,"25,000.00",5.00,"2,000.00",Wire Transfer,2023-12-12,"3,000.00",Wire Transfer,2024-03-12,"$5,000.00 by March 9, 2024, $5,000.00 on the a...",NaN,None,None,NaN,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,0011J00001jiOWhQAM,False,2024-03-29,2023-09-07,60.00,0055c000007mLykAAE,lgarland@humanlongevity.com,Lauren Garland,ACCT-12001,"Colin, Emine",Person (B2C),1.00,"Colin, Emine - 100+ Renewal - Multi Year 5 Yea...",NaN,NaN,NaT,NaN,NaN,"4000 (updated 2024-03-29 by Lauren Garland), 2..."

In [189]:
merged_df = pd.merge(opportunities_df, account_df, how='left', on='Salesforce Account ID')
merged_df = pd.merge(merged_df, product_counts_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, product_concat_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, product_short_concat_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, opportunity_history_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, min_opportunity_start_date_updates, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, opportunity_history_end_date_df, how='left', on='Salesforce Opportunity ID')
merged_df = pd.merge(merged_df, payment1_amount_df, how='left', on='Salesforce Opportunity ID', suffixes=('', '_Payment1Amount'))
merged_df = pd.merge(merged_df, payment1_completeddate_df, how='left', on='Salesforce Opportunity ID', suffixes=('', '_Payment1CompletedDate'))
merged_df = pd.merge(merged_df, payment2_amount_df, how='left', on='Salesforce Opportunity ID', suffixes=('', '_Payment2Amount'))
merged_df = pd.merge(merged_df, payment2_completeddate_df, how='left', on='Salesforce Opportunity ID', suffixes=('', '_Payment2CompletedDate'))
merged_df = pd.merge(merged_df, distinct_opportunity_count, how='left', on='Salesforce Account ID',  suffixes=('', '_distinctoppcount'))
merged_df = pd.merge(merged_df, opp_membership_end_dates, how='left', on='Salesforce Account ID', suffixes=('', '_oppmembershipenddates'))
merged_df = pd.merge(merged_df, opp_membership_start_dates, how='left', on='Salesforce Account ID', suffixes=('', '_oppmembershipenddates'))



#merged_df = pd.merge(merged_df, attachment_data_df, how='left', on='Salesforce Opportunity ID')


merged_df['Total Payments Received'] = merged_df['Payment 1 Amount'].fillna(0) + merged_df['Payment 2 Amount'].fillna(0)

condition_flexjet_marqi = (merged_df['Total Payments Received'] == 0) & (merged_df['Payment Notes'].str.upper().str.contains('INVOICE CREATED', na=False))

# Apply the condition to update the 'Total Payments Received' column
merged_df.loc[condition_flexjet_marqi, 'Total Payments Received'] = merged_df['Opportunity Amount']

# Create the new column for date comparison
merged_df['Membership Start Date vs. Payment Dates'] = (
    (merged_df['Membership Start Date'] < merged_df['Payment 1 Completed Date']) &
    (merged_df['Membership Start Date'] < merged_df['Payment 2 Completed Date'])
)

# Hard coded notes
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00000xrb1lAAA', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001LkDyzAAF', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & SPECIAL PAYMENT PLAN'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001LkDz0AAF', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & SPECIAL PAYMENT PLAN'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001Ly0NxAAJ', 'Membership Start Date vs. Payment Dates'] = 'ELLEN - OUTSTANDING / FOLLOW-UP'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001Ly0ORAAZ', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001LjOgQAAV', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000016z6YRAAY', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001A1mnVAAR', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001A0h4xAAB', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000019zNSsAAM', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000019zxQvAAI', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000015gX1DAAU', 'Membership Start Date vs. Payment Dates'] = 'ELLEN TO RESEARCH - AR AS OF 12/31/2023 SHOULD BE $25,000'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000015gy32AAA', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000015gy2EAAQ', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000015gedlAAA', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c000015fpDLAAY', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'

#Hard coded with Ellen Bolden on 6/26/2024 (Yurkovich, James - Buck Institute Corporate Program), pending confirming of $2,000 from Buck Institute.
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001Pu4ZBAAZ', 'Total Payments Received'] = 5000
# Ellen confirmed should be 30k on 6/27/2024 after speaking with Anthony and reviewing Payment Notes
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001NrDJzAAN', 'Total Payments Received'] = 30000

# Convert dates to datetime format
merged_df['Membership Start Date'] = pd.to_datetime(merged_df['Membership Start Date'])
merged_df['Payment 1 Completed Date'] = pd.to_datetime(merged_df['Payment 1 Completed Date'])



# Check if 'Payment Notes' contains 'INVOICE CREATED' (case-insensitive)
merged_df['Payment Notes - INVOICE CREATED'] = merged_df['Payment Notes'].str.upper().str.contains('INVOICE CREATED', na=False)

# Initialize 'Customer Deposits' column with default value
merged_df['Customer Deposits'] = None

# Convert date columns to datetime format
merged_df['1st Membership Start Date (IF UPDATED)'] = pd.to_datetime(merged_df['1st Membership Start Date (IF UPDATED)'])
merged_df['Membership Start Date'] = pd.to_datetime(merged_df['Membership Start Date'])
# Calculate the difference in months
# Define a function to calculate the difference in months
def diff_in_months(date1, date2):
    if pd.isna(date1) or pd.isna(date2):
        return ''
    return abs((date1 - date2).days) 
# Calculate the difference in days
merged_df['MSD - Difference in Days'] = merged_df.apply(lambda row: diff_in_months(row['1st Membership Start Date (IF UPDATED)'], row['Membership Start Date']), axis=1)

# Compare 'Membership Start Date' with 'Payment 1 Date' and populate 'Customer Deposits'
#for index, row in merged_df.iterrows():
#    membership_start_date = row['Membership Start Date']
#    payment_1_date = row['Payment 1 Completed Date']
#    payment_1_amount = row['Payment 1 Amount']

#    if pd.notna(membership_start_date) and pd.Timestamp('2024-01-01') <= membership_start_date <= pd.Timestamp('2024-04-30'):
#        if payment_1_date < membership_start_date.replace(day=1):  # Check if payment is in a different month before start date
#            merged_df.loc[index, 'Customer Deposits'] = payment_1_amount

merged_df['Start & End Date - Year Difference'] = 'N/A'

ordered_columns = [
    'Opportunity ID', 'Salesforce Opportunity ID', 'Salesforce Opportunity Owner', 'Name', 'Opportunity Stage', 'Account ID', 'Account Name', 'Account Type', 'Distinct Account Opportunity Count(s)', 'Account Membership Start Date(s)', 'Account Membership End Date(s)', 'Number of Opportunity Products', 'Opportunity Product Line Item(s)', 'Opportunity Product Short Name(s)',
    'Membership Location', 'Prior Membership Start Date(s)', '1st Membership Start Date (IF UPDATED)', 'Membership Start Date', 'MSD - Difference in Days', 'Prior Membership Expiration Date(s)', 'Membership End Date','Start & End Date - Year Difference','Membership Start Date vs. Payment Dates', 
    'Opportunity Amount', 'Opportunity Term Length (Years)', 'Opportunity Term Length (Months)',
    'Payment 1 Amount', 'Prior Payment 1 Values', 'Payment 1 Method', 'Payment 1 Completed Date', 'Prior Payment 1 Completed Date Values',
    'Payment 2 Amount', 'Prior Payment 2 Values', 'Payment 2 Method','Payment 2 Completed Date', 'Prior Payment 2 Completed Date Values', 
    'Total Payments Received', 'Payment Notes', 'Payment Notes - INVOICE CREATED',
    'ADHOC Payment Amount 1', 'ADHOC Payment Date 1', 'ADHOC Payment Method 1',
    'ADHOC Payment Amount 2', 'ADHOC Payment Date 2', 'ADHOC Payment Method 2', 
    'ADHOC Payment Amount 3','ADHOC Payment Date 3', 'ADHOC Payment Method 3',
    'ADHOC Payment Amount 4', 'ADHOC Payment Date 4', 'ADHOC Payment Method 4', 
    'ADHOC Payment Amount 5', 'ADHOC Payment Date 5', 'ADHOC Payment Method 5',
    'ADHOC Payment Amount 6', 'ADHOC Payment Date 6', 'ADHOC Payment Method 6', 
    'Opportunity Deleted', 'Opportunity Last Modified Date', 'Opportunity Created Date'
       ]

# Reorder columns in merged_df
merged_df = merged_df[ordered_columns]


#Filter output so that not all Membership Start Dates are included
merged_df['Membership Start Date'] = pd.to_datetime(merged_df['Membership Start Date'])
merged_df = merged_df[merged_df['Membership Start Date'].dt.year >= 2021]

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4264419079.py:35: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'REVIEWED & PAID' has dtype incompatible with bool, please explicitly cast to a compatible dtype first.
  merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00000xrb1lAAA', 'Membership Start Date vs. Payment Dates'] = 'REVIEWED & PAID'

In [190]:
merged_df.head(2)

,Opportunity ID,Salesforce Opportunity ID,Salesforce Opportunity Owner,Name,Opportunity Stage,Account ID,Account Name,Account Type,Distinct Account Opportunity Count(s),Account Membership Start Date(s),Account Membership End Date(s),Number of Opportunity Products,Opportunity Product Line Item(s),Opportunity Product Short Name(s),Membership Location,Prior Membership Start Date(s),1st Membership Start Date (IF UPDATED),Membership Start Date,MSD - Difference in Days,Prior Membership Expiration Date(s),Membership End Date,Start & End Date - Year Difference,Membership Start Date vs. Payment Dates,Opportunity Amount,Opportunity Term Length (Years),Opportunity Term Length (Months),Payment 1 Amount,Prior Payment 1 Values,Payment 1 Method,Payment 1 Completed Date,Prior Payment 1 Completed Date Values,Payment 2 Amount,Prior Payment 2 Values,Payment 2 Method,Payment 2 Completed Date,Prior Payment 2 Completed Date Values,Total Payments Received,Payment Notes,Payment Notes - INVOICE CREATED,ADHOC Payment Amount 1,ADHOC Payment Date 1,ADHOC Payment Method 1,ADHOC Payment Amount 2,ADHOC Payment Date 2,ADHOC Payment Method 2,ADHOC Payment Amount 3,ADHOC Payment Date 3,ADHOC Payment Method 3,ADHOC Payment Amount 4,ADHOC Payment Date 4,ADHOC Payment Method 4,ADHOC Payment Amount 5,ADHOC Payment Date 5,ADHOC Payment Method 5,ADHOC Payment Amount 6,ADHOC Payment Date 6,ADHOC Payment Method 6,Opportunity Deleted,Opportunity Last Modified Date,Opportunity Created Date
1896,OPP-09042,0061J00000gvP6yQAE,Anthony O'Connell,"Choi, Alexander-100 Plus F/U",Results,ACCT-05557,"Choi, Alexander",Person (B2C),5,"2023-06-30, 2022-06-29, 2021-05-19, 2018-10-30...","2028-06-30, 2023-06-29, 2022-05-18, 2018-10-30...",1.00,"Choi, Alexander-100 Plus F/U 100+ Upgrade",100+ Upgrade,"Health Nucleus - San Diego, CA",NaN,NaT,2021-05-19,,NaN,2022-05-18,N/A,False,"8,000.00",NaN,NaN,NaN,NaN,Credit Card,2021-05-19,NaN,NaN,NaN,None,None,NaN,0.00,auth code: 39599G cvv,False,NaN,None,None,NaN,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,False,2023-04-07,2020-08-25
1904,OPP-09054,0061J00000gvdk8QAA,Anthony O'Connell,"Keating, Brian-100+",Results,ACCT-12024,"Keating, Brian",Business (B2B),3,"2023-08-29, 2022-05-14, 2021-05-14","2024-08-29, 2023-05-14, 2022-05-13",1.00,"Keating, Brian-100+ 100+ Initial",100+ Initial,"Health Nucleus-South San Francisco, CA",NaN,NaT,2021-05-14,,NaN,2022-05-13,N/A,False,"12,500.00",NaN,NaN,NaN,NaN,Credit Card,2021-05-14,NaN,NaN,NaN,None,None,NaN,0.00,auth code: 1930940cvv,False,NaN,None,None,NaN,None,None,NaN,None,None,None,None,None,None,None,None,None,None,None,False,2023-04-07,2020-08-31

In [191]:
opportunities_df.columns

Index(['Salesforce Opportunity ID', 'Opportunity ID', 'Name', 'OwnerId',
       'Membership Start Date', 'Membership End Date', 'Opportunity Stage',
       'Membership Location', 'Opportunity Close Date', 'Opportunity Amount',
       'Opportunity Term Length (Years)', 'Payment 1 Amount',
       'Payment 1 Method', 'Payment 1 Completed Date', 'Payment 2 Amount',
       'Payment 2 Method', 'Payment 2 Completed Date', 'Payment Notes',
       'ADHOC Payment Amount 1', 'ADHOC Payment Date 1',
       'ADHOC Payment Method 1', 'ADHOC Payment Amount 2',
       'ADHOC Payment Date 2', 'ADHOC Payment Method 2',
       'ADHOC Payment Amount 3', 'ADHOC Payment Date 3',
       'ADHOC Payment Method 3', 'ADHOC Payment Amount 4',
       'ADHOC Payment Date 4', 'ADHOC Payment Method 4',
       'ADHOC Payment Amount 5', 'ADHOC Payment Date 5',
       'ADHOC Payment Method 5', 'ADHOC Payment Amount 6',
       'ADHOC Payment Date 6', 'ADHOC Payment Method 6',
       'Salesforce Account ID', 'Opportunity Deleted',
       'Opportunity Last Modified Date', 'Opportunity Created Date',
       'Opportunity Term Length (Months)', 'Salesforce User ID', 'Username',
       'Salesforce Opportunity Owner'],
      dtype='object')

In [192]:
#merged_df[merged_df['Total Payments Received'] <= 0].head(10)

In [193]:
#merged_df[merged_df['Membership Start Date'] <= '2024-06-01']

### Add payments and defer across term length

In [194]:
# Convert date columns to datetime format
merged_df['Membership Start Date'] = pd.to_datetime(merged_df['Membership Start Date'])
merged_df['Membership End Date'] = pd.to_datetime(merged_df['Membership End Date'])

merged_df['Start & End Date - Year Difference'] = (merged_df['Membership End Date'] - merged_df['Membership Start Date']) / pd.Timedelta(days=365)
merged_df['Start & End Date - Year Difference'] = merged_df['Start & End Date - Year Difference'].round(2)



# Determine the range of months to create columns (including one month before the end date)
min_date = merged_df['Membership Start Date'].min()
max_date = merged_df['Membership End Date'].max() - pd.offsets.MonthBegin(1)

# Generate monthly date range
monthly_dates = pd.date_range(start=min_date, end=max_date, freq='MS')

# Add columns for each month in the range (if not already added)
for date in monthly_dates:
    column_name = f"{date.strftime('%B %Y')}"
    if column_name not in merged_df.columns:
        merged_df[column_name] = 0.0  # Initialize with zeros

# Reference date for condition
condition_date = datetime(2024, 1, 1) #When new reference schedule was effective, per Ellen on 6/18/2024

# Distribute payments according to the specified rules
for index, row in merged_df.iterrows():
    total_payments = row['Total Payments Received']
    term_length = row['Opportunity Term Length (Months)']
    start_date = row['Membership Start Date']
    end_date = row['Membership End Date']
    
    # Ensure term_length is an integer
    try:
        term_length = int(term_length)
    except ValueError:
        continue  # Skip this row if term_length is not a valid integer
    
    # Initialize monthly_payments with a default empty list
    monthly_payments = []

    # Calculate monthly payments based on term length if start date is on or after 2024-01-01
    if start_date >= condition_date:
        if term_length == 12:
            monthly_payments = [total_payments / 12] * 12
        elif term_length == 24:
            monthly_payments = [total_payments * 0.6 / 12] * 12 + [total_payments * 0.4 / 12] * 12
        elif term_length == 36:
            monthly_payments = [total_payments * 0.45 / 12] * 12 + [total_payments * 0.28 / 12] * 12 + [total_payments * 0.27 / 12] * 12
        elif term_length == 48:
            monthly_payments = [total_payments * 0.33 / 12] * 12 + [total_payments * 0.23 / 12] * 12 + [total_payments * 0.22 / 12] * 12 + [total_payments * 0.22 / 12] * 12
        elif term_length == 60:
            monthly_payments = [total_payments * 0.25 / 12] * 12 + [total_payments * 0.19 / 12] * 12 + [total_payments * 0.19 / 12] * 12 + [total_payments * 0.19 / 12] * 12 + [total_payments * 0.18 / 12] * 12 
        elif term_length == 120:
            monthly_payments = [total_payments * 0.1419 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12 + [total_payments * 0.0953 / 12] * 12
    else:
        # Distribute payments evenly across 12 months if the start date is BEFORE 2024-01-01
        monthly_payments = [total_payments / 12] * 12

    # Distribute payment across months
    current_date = start_date
    for payment in monthly_payments:
        if current_date <= end_date:
            month_column = f"{current_date.strftime('%B %Y')}"
            if month_column in merged_df.columns:
                merged_df.loc[index, month_column] += payment
            current_date = current_date + pd.offsets.MonthEnd(0) + timedelta(days=1)
        else:
            break

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4167457338.py:21: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[column_name] = 0.0  # Initialize with zeros

### Add Amounts to Opportunity Edge Cases (e.g. refunds for 2023)

In [195]:
#Discussed refund scenairo with Ellen Bolden on 7/25/2024. 2023 numbers should remain the same, while 2024 can be updated
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001NqsIvAAJ', 'December 2023'] = 625 #Urban, Bonnie issued refund, but 2023 books and numbers are closed and finalized
merged_df.loc[merged_df['Salesforce Opportunity ID'] == '0065c00001Nqx0rAAB', 'December 2023'] = 1000 #Urban, Tommy issued refund, but 2023 books and numbers are closed and finalized

### Add AD-HOC payments to revenue recognition schedule

In [196]:
# Convert 'ADHOC Payment Date' columns to datetime format
date_columns = [col for col in merged_df.columns if col.startswith('ADHOC Payment Date')]
for col in date_columns:
    merged_df[col] = pd.to_datetime(merged_df[col])

# Ensure the date columns are in datetime format
for i in range(1, 4):
    date_col = f'ADHOC Payment Date {i}'
    merged_df[date_col] = pd.to_datetime(merged_df[date_col], errors='coerce')

# Define the function to update monthly payments
def update_monthly_payments(row):
    for i in range(1, 4):  # Adjust range based on the number of sets (in this example, up to 3)
        amount_col = f'ADHOC Payment Amount {i}'
        date_col = f'ADHOC Payment Date {i}'
        
        if pd.notnull(row[amount_col]) and row[amount_col] > 0:
            payment_date = row[date_col]
            if pd.notnull(payment_date):
                month_year = payment_date.strftime('%B %Y')
                col_name = f'{month_year} - ADHOC'
                
                if col_name not in merged_df.columns:
                    merged_df[col_name] = 0
                
                merged_df.at[row.name, col_name] += row[amount_col]

# Apply the function to each row in the DataFrame
merged_df.apply(update_monthly_payments, axis=1)

# Optionally, convert 'ADHOC Payment Date' columns back to string format for display/export
for col in date_columns:
    merged_df[col] = merged_df[col].dt.strftime('%Y-%m-%d')

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2102293487.py:24: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[col_name] = 0

In [197]:
#Sort
merged_df = merged_df.sort_values(by='Membership Start Date', ascending=False)
#Convert to date format
merged_df['Membership Start Date'] = merged_df['Membership Start Date'].dt.date
merged_df['1st Membership Start Date (IF UPDATED)'] = merged_df['1st Membership Start Date (IF UPDATED)'].dt.date
merged_df['Membership End Date'] = merged_df['Membership End Date'].dt.date
merged_df['Payment 1 Completed Date'] = merged_df['Payment 1 Completed Date'].dt.date


# Temp filter
#merged_df = merged_df[
#    merged_df['Prior Membership Start Date(s)'].notna() | 
#    merged_df['Prior Membership Expiration Date(s)'].notna()
#]

### Monthly Invoice Totals

In [198]:
# Convert 'Membership Start Date' to datetime
merged_df['Membership Start Date'] = pd.to_datetime(merged_df['Membership Start Date'])

# Extract Month and Year from 'Membership Start Date'
merged_df['YearMonth'] = merged_df['Membership Start Date'].dt.to_period('M').astype(str)

# Group by YearMonth and sum 'Total Payments Received' to get 'Monthly Invoice Total'
monthly_invoice_total = merged_df.groupby('YearMonth')['Total Payments Received'].sum().reset_index()
monthly_invoice_total.columns = ['YearMonth', 'Monthly Invoice Total']

monthly_invoice_total.head(12)

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\586017296.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df['YearMonth'] = merged_df['Membership Start Date'].dt.to_period('M').astype(str)

   YearMonth  Monthly Invoice Total
0    2021-01              70,100.00
1    2021-02             103,000.00
2    2021-03             321,300.00
3    2021-04             248,300.00
4    2021-05             363,450.00
5    2021-06             405,000.00
6    2021-07             305,100.00
7    2021-08             216,600.00
8    2021-09             654,600.00
9    2021-10             623,689.57
10   2021-11             554,700.00
11   2021-12           1,266,480.02

### Revenue to Recognize Schedule

In [199]:

# Sum each column with a string that contains the Month + Year to create 'Revenue to Recognize'
# Filter columns that match the pattern for months
month_columns = [col for col in merged_df.columns if col.endswith(('2021','2022','2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030', '2031', '2032', '2033', '2034', '2035', '2036', '2037', '2038'))]

# Sum the relevant columns
revenue_to_recognize = merged_df[month_columns].sum().reset_index()
revenue_to_recognize.columns = ['YearMonth', 'Revenue to Recognize']
revenue_to_recognize['YearMonth'] = pd.to_datetime(revenue_to_recognize['YearMonth'], format='%B %Y').dt.strftime('%Y-%m')

revenue_to_recognize.head(12)

   YearMonth  Revenue to Recognize
0    2021-02             14,425.00
1    2021-03             40,283.33
2    2021-04             60,800.00
3    2021-05             91,087.50
4    2021-06            124,591.67
5    2021-07            150,016.67
6    2021-08            168,066.67
7    2021-09            222,616.67
8    2021-10            274,590.80
9    2021-11            319,149.13
10   2021-12            424,514.13
11   2022-01            580,955.80

### Breakdown by Membership Location

In [200]:

# Select columns from merged_df based on 'Membership Location' and month_columns
filtered_df = merged_df[['Membership Location'] + month_columns].copy()

sum_by_location = filtered_df.groupby('Membership Location')[month_columns].sum().T
sum_by_location.reset_index(inplace=True)
sum_by_location = sum_by_location.rename(columns={'index': 'YearMonth'})
sum_by_location['YearMonth'] = pd.to_datetime(sum_by_location['YearMonth'], format='%B %Y').dt.strftime('%Y-%m')

sum_by_location.head(5)

Membership Location,YearMonth,"Health Nucleus - San Diego, CA","Health Nucleus-South San Francisco, CA"
0,2021-02,"11,300.00","3,125.00"
1,2021-03,"23,825.00","16,458.33"
2,2021-04,"43,025.00","17,775.00"
3,2021-05,"64,979.17","26,108.33"
4,2021-06,"96,833.33","27,758.33"

### Customer Desposits before Membership Start Date begins

In [201]:
# Convert date columns to datetime format if they are not already
merged_df['Payment 1 Completed Date'] = pd.to_datetime(merged_df['Payment 1 Completed Date'])
merged_df['Payment 2 Completed Date'] = pd.to_datetime(merged_df['Payment 2 Completed Date'])
merged_df['Membership Start Date 2'] = pd.to_datetime(merged_df['Membership Start Date'])  #Create new column for testing purposes

# Extract year and month
merged_df['Payment 1 YearMonth'] = merged_df['Payment 1 Completed Date'].dt.to_period('M')
merged_df['Payment 2 YearMonth'] = merged_df['Payment 2 Completed Date'].dt.to_period('M')
merged_df['Membership Start YearMonth'] = merged_df['Membership Start Date 2'].dt.to_period('M')

# Define a function to calculate the customer deposits based on year-month comparison
def calculate_customer_deposits(row):
    payment_1_amount = 0
    payment_2_amount = 0
    
    if row['Payment 1 YearMonth'] < row['Membership Start YearMonth']:
        payment_1_amount = row['Payment 1 Amount']
        
    if row['Payment 2 YearMonth'] < row['Membership Start YearMonth']:
        payment_2_amount = row['Payment 2 Amount']
        
    return payment_1_amount + payment_2_amount

# Apply the function to each row and create the new column
merged_df['Customer Deposits'] = merged_df.apply(calculate_customer_deposits, axis=1)

# Extract the year-month from the Membership Start Date for grouping
merged_df['Membership Start YearMonth'] = merged_df['Membership Start Date'].dt.to_period('M')

# Group by the year-month and sum the deposits
customer_deposits_df = merged_df.groupby('Membership Start YearMonth')['Customer Deposits'].sum().reset_index()

# Rename columns for clarity
customer_deposits_df.columns = ['YearMonth', 'Customer Deposits Balance']

# Convert YearMonth back to string format (YYYY-MM)
customer_deposits_df['YearMonth'] = customer_deposits_df['YearMonth'].astype(str)

#merged_df['Membership Start Date'] = merged_df['Membership Start Date'].dt.date

merged_df = merged_df.drop(columns=['Membership Start YearMonth', 'Membership Start Date 2','Payment 1 YearMonth', 'Payment 2 YearMonth','YearMonth'])

merged_df.head(2)

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\3184499899.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df['Membership Start Date 2'] = pd.to_datetime(merged_df['Membership Start Date'])  #Create new column for testing purposes
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\3184499899.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df['Payment 1 YearMonth'] = merged_df['Payment 1 Completed Date'].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\3184499899.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df['Payment 2 YearMonth'] = merged_df['Payment 2 Completed Date'].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\3184499899.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df['Membership Start YearMonth'] = merged_df['Membership Start Date 2'].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\3184499899.py:25: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df['Customer Deposits'] = merged_df.apply(calculate_customer_deposits, axis=1)

,Opportunity ID,Salesforce Opportunity ID,Salesforce Opportunity Owner,Name,Opportunity Stage,Account ID,Account Name,Account Type,Distinct Account Opportunity Count(s),Account Membership Start Date(s),Account Membership End Date(s),Number of Opportunity Products,Opportunity Product Line Item(s),Opportunity Product Short Name(s),Membership Location,Prior Membership Start Date(s),1st Membership Start Date (IF UPDATED),Membership Start Date,MSD - Difference in Days,Prior Membership Expiration Date(s),Membership End Date,Start & End Date - Year Difference,Membership Start Date vs. Payment Dates,Opportunity Amount,Opportunity Term Length (Years),Opportunity Term Length (Months),Payment 1 Amount,Prior Payment 1 Values,Payment 1 Method,Payment 1 Completed Date,Prior Payment 1 Completed Date Values,Payment 2 Amount,Prior Payment 2 Values,Payment 2 Method,Payment 2 Completed Date,Prior Payment 2 Completed Date Values,Total Payments Received,Payment Notes,Payment Notes - INVOICE CREATED,ADHOC Payment Amount 1,ADHOC Payment Date 1,ADHOC Payment Method 1,ADHOC Payment Amount 2,ADHOC Payment Date 2,ADHOC Payment Method 2,ADHOC Payment Amount 3,ADHOC Payment Date 3,ADHOC Payment Method 3,ADHOC Payment Amount 4,ADHOC Payment Date 4,ADHOC Payment Method 4,ADHOC Payment Amount 5,ADHOC Payment Date 5,ADHOC Payment Method 5,ADHOC Payment Amount 6,ADHOC Payment Date 6,ADHOC Payment Method 6,Opportunity Deleted,Opportunity Last Modified Date,Opportunity Created Date,February 2021,March 2021,April 2021,May 2021,June 2021,July 2021,August 2021,September 2021,October 2021,November 2021,December 2021,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,October 2022,November 2022,December 2022,January 2023,February 2023,March 2023,April 2023,May 2023,June 2023,July 2023,August 2023,September 2023,October 2023,November 2023,December 2023,January 2024,February 2024,March 2024,April 2024,May 2024,June 2024,July 2024,August 2024,September 2024,October 2024,November 2024,December 2024,January 2025,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025,October 2025,November 2025,December 2025,January 2026,February 2026,March 2026,April 2026,May 2026,June 2026,July 2026,August 2026,September 2026,October 2026,November 2026,December 2026,January 2027,February 2027,March 2027,April 2027,May 2027,June 2027,July 2027,August 2027,September 2027,October 2027,November 2027,December 2027,January 2028,February 2028,March 2028,April 2028,May 2028,June 2028,July 2028,August 2028,September 2028,October 2028,November 2028,December 2028,January 2029,February 2029,March 2029,April 2029,May 2029,June 2029,July 2029,August 2029,September 2029,October 2029,November 2029,December 2029,January 2030,February 2030,March 2030,April 2030,May 2030,June 2030,July 2030,August 2030,September 2030,October 2030,November 2030,December 2030,January 2031,February 2031,March 2031,April 2031,May 2031,June 2031,July 2031,August 2031,September 2031,October 2031,November 2031,December 2031,January 2032,February 2032,March 2032,April 2032,May 2032,June 2032,July 2032,August 2032,April 2024 - ADHOC,February 2024 - ADHOC,March 2024 - ADHOC,May 2024 - ADHOC,June 2024 - ADHOC,January 2024 - ADHOC,July 2024 - ADHOC,Customer Deposits
12442,OPP-14780,0065c00001Px0T7AAJ,Thomas Rossman,"Erve, John - 100+ Renewal - Multi Year",Contract and Invoice Sent,ACCT-15068,"Erve, John",Person (B2C),2,"2027-03-31, 2024-03-30","2029-03-31, 2027-03-30",1.00,"Erve, John - 100+ Renewal - Multi Year 2 Year ...",100+ Renewal - Multi Year,"Health Nucleus-South San Francisco, CA",NaN,NaT,2027-03-31,,NaN,2029-03-31,2.00,False,"9,000.00",2.00,24.00,"9,000.00",NaN,Check,2024-06-04,NaN,NaN,NaN,None,NaT,NaN,"9,000.00",None,False,NaN,NaN,None,NaN,NaN,None,NaN,NaN,None,None,NaN,None,None,NaN,None,None,NaN,None,False,2024-06-17,2024-06-05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,0,0,"9,000.00"
12717,OPP-14900,0065c00001RbVRFAA3,Thomas Rossman,"Fleming, Gregory - 100+ Renewal - Multi Year",Contract and Invoice Sent,ACCT-14761,"Fleming, Gregory",Person (B2C),2,"2026-12-31, 2023-12-31","2028-12-31, 2026-12-31",1.00,"Fleming, Gregory - 100+ Renewal - Multi Year 2...",100+ Renewal - Multi Year,"Health Nucleus-South San Francisco, CA",NaN,NaT,2026-12-31,,NaN,2028-12-31,2.00,False,"9,000.00",2.00,24.00,"9,000.00",NaN,Wire Transfer,2024-07-11,NaN,NaN,NaN,None,NaT,NaN,"9,000.00",This funds transfer was received on 2024-07-11...,False,NaN,NaN,None,NaN,NaN,None,NaN,NaN,None,None,NaN,None,None,NaN,None,None,NaN,None,False,2024-07-18,2024-07-09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,0,0,"9,000.00"

In [202]:
customer_deposits_df.head(5)

  YearMonth  Customer Deposits Balance
0   2021-01                  12,500.00
1   2021-02                  23,500.00
2   2021-03                       0.00
3   2021-04                  15,000.00
4   2021-05                  59,000.00

### JOIN/merge dataframes

In [203]:
# Merge the two DataFrames
merged_df_2 = pd.merge(monthly_invoice_total, revenue_to_recognize, on =['YearMonth'], how='outer')
merged_df_2 = pd.merge(merged_df_2, sum_by_location, on =['YearMonth'], how='outer')
merged_df_2 = pd.merge(merged_df_2, customer_deposits_df, on =['YearMonth'], how='outer')
merged_df_2 = merged_df_2.rename(columns={'YearMonth': 'Year-Month'})

In [204]:
merged_df_2.head(12)

,Year-Month,Monthly Invoice Total,Revenue to Recognize,"Health Nucleus - San Diego, CA","Health Nucleus-South San Francisco, CA",Customer Deposits Balance
0,2021-01,"70,100.00",NaN,NaN,NaN,"12,500.00"
1,2021-02,"103,000.00","14,425.00","11,300.00","3,125.00","23,500.00"
2,2021-03,"321,300.00","40,283.33","23,825.00","16,458.33",0.00
3,2021-04,"248,300.00","60,800.00","43,025.00","17,775.00","15,000.00"
4,2021-05,"363,450.00","91,087.50","64,979.17","26,108.33","59,000.00"
5,2021-06,"405,000.00","124,591.67","96,833.33","27,758.33","51,500.00"
6,2021-07,"305,100.00","150,016.67","121,841.67","28,175.00","57,000.00"
7,2021-08,"216,600.00","168,066.67","136,350.00","31,716.67","8,000.00"
8,2021-09,"654,600.00","222,616.67","181,433.33","41,183.33","24,000.00"
9,2021-10,"623,689.57","274,590.80","218,575.00","56,015.80","55,000.00"
10,2021-11,"554,700.00","319,149.13","253,125.00","66,024.13","148,500.00"
11,2021-12,"1,266,480.02","424,514.13","309,450.00","115,064.13","225,000.00"

### Deferred Revenue Balance

In [205]:
merged_df_2['Deferred Revenue Balance'] = pd.NA

# Initialize a variable to keep track of cumulative sum
cumulative_sum = 0

# Iterate through each row and calculate Deferred Revenue Balance
for index, row in merged_df_2.iterrows():
    # Calculate sum of future 'Revenue to Recognize' values
    cumulative_sum_future = merged_df_2.loc[index+1:, 'Revenue to Recognize'].sum()
    # Update Deferred Revenue Balance to include future sums
    merged_df_2.at[index, 'Deferred Revenue Balance'] = cumulative_sum_future


merged_df['Membership Start Date'] = merged_df['Membership Start Date'].dt.date
merged_df['Payment 1 Completed Date'] = merged_df['Payment 1 Completed Date'].dt.date
merged_df['Payment 2 Completed Date'] = merged_df['Payment 2 Completed Date'].dt.date


# Drop the 'YearMonth' column from merged_df
#merged_df.drop(columns=['YearMonth'], inplace=True)

In [206]:
merged_df_2.head(12)

,Year-Month,Monthly Invoice Total,Revenue to Recognize,"Health Nucleus - San Diego, CA","Health Nucleus-South San Francisco, CA",Customer Deposits Balance,Deferred Revenue Balance
0,2021-01,"70,100.00",NaN,NaN,NaN,"12,500.00","54,444,613.64"
1,2021-02,"103,000.00","14,425.00","11,300.00","3,125.00","23,500.00","54,430,188.64"
2,2021-03,"321,300.00","40,283.33","23,825.00","16,458.33",0.00,"54,389,905.31"
3,2021-04,"248,300.00","60,800.00","43,025.00","17,775.00","15,000.00","54,329,105.31"
4,2021-05,"363,450.00","91,087.50","64,979.17","26,108.33","59,000.00","54,238,017.81"
5,2021-06,"405,000.00","124,591.67","96,833.33","27,758.33","51,500.00","54,113,426.14"
6,2021-07,"305,100.00","150,016.67","121,841.67","28,175.00","57,000.00","53,963,409.48"
7,2021-08,"216,600.00","168,066.67","136,350.00","31,716.67","8,000.00","53,795,342.81"
8,2021-09,"654,600.00","222,616.67","181,433.33","41,183.33","24,000.00","53,572,726.14"
9,2021-10,"623,689.57","274,590.80","218,575.00","56,015.80","55,000.00","53,298,135.35"
10,2021-11,"554,700.00","319,149.13","253,125.00","66,024.13","148,500.00","52,978,986.21"
11,2021-12,"1,266,480.02","424,514.13","309,450.00","115,064.13","225,000.00","52,554,472.08"

### Ad-Hoc Payments

In [207]:
adhoc_columns = [col for col in merged_df.columns if '- ADHOC' in col]
adhoc_columns.append('Membership Location')
filtered_adhoc_payments = merged_df[adhoc_columns]
adhoc_columns_only = [col for col in adhoc_columns if col != 'Membership Location']
filtered_adhoc_payments = filtered_adhoc_payments.loc[~filtered_adhoc_payments[adhoc_columns].fillna(0).eq(0).all(axis=1)]
filtered_adhoc_payments.columns = [col.replace(' - ADHOC', '').strip() for col in filtered_adhoc_payments.columns]

# Convert column headers from "MONTH YEAR" format to "YYYY-MM" format
def convert_month_year_to_ym(col):
    try:
        return pd.to_datetime(col, format='%B %Y').strftime('%Y-%m')
    except ValueError:
        return col

filtered_adhoc_payments.columns = [convert_month_year_to_ym(col) for col in filtered_adhoc_payments.columns]

#Group by / PIVOT
filtered_adhoc_payments = filtered_adhoc_payments.groupby('Membership Location').sum()
filtered_adhoc_payments.reset_index(drop=True)
filtered_adhoc_payments = filtered_adhoc_payments.T
filtered_adhoc_payments = filtered_adhoc_payments.reset_index()
filtered_adhoc_payments = filtered_adhoc_payments.rename(columns={'index': 'Year-Month'})
filtered_adhoc_payments = filtered_adhoc_payments.rename(columns={'Health Nucleus - San Diego, CA': 'ADHOC - Health Nucleus - San Diego, CA'})
filtered_adhoc_payments = filtered_adhoc_payments.rename(columns={'Health Nucleus-South San Francisco, CA': 'ADHOC - Health Nucleus-South San Francisco, CA'})
filtered_adhoc_payments['ADHOC - Total'] = filtered_adhoc_payments['ADHOC - Health Nucleus - San Diego, CA'] + filtered_adhoc_payments['ADHOC - Health Nucleus-South San Francisco, CA']


filtered_adhoc_payments.reset_index(drop=True)

Membership Location,Year-Month,"ADHOC - Health Nucleus - San Diego, CA","ADHOC - Health Nucleus-South San Francisco, CA",ADHOC - Total
0,2024-04,15500,1500,17000
1,2024-02,1500,250,1750
2,2024-03,3500,0,3500
3,2024-05,18200,20500,38700
4,2024-06,15350,1700,17050
5,2024-01,500,0,500
6,2024-07,3000,700,3700

In [208]:
merged_df_2 = pd.merge(merged_df_2, filtered_adhoc_payments, on =['Year-Month'], how='outer')
merged_df_2 = merged_df_2[[ #Reorder columns for simplicity
                        'Year-Month', 'Monthly Invoice Total', 'Revenue to Recognize', 
                        'Health Nucleus - San Diego, CA', 'Health Nucleus-South San Francisco, CA', 'Customer Deposits Balance',
                        'Deferred Revenue Balance', 
                        #'ADHOC - Total', 'ADHOC - Health Nucleus - San Diego, CA', 'ADHOC - Health Nucleus-South San Francisco, CA' #Commenting out due to renewed understadning recognizing revenue
                        ]]

### AD-HOC Payment Dates w/ Details

In [209]:
# Convert payment date columns to datetime
for i in range(1, 7):
    date_col = f'ADHOC Payment Date {i}'
    if date_col in merged_df.columns:
        merged_df[date_col] = pd.to_datetime(merged_df[date_col])

# Initialize an empty DataFrame to store the results
adhoc_totals = pd.DataFrame()

# Sum payment amounts grouped by YearMonth, Membership Location, and ADHOC Payment Date
for i in range(1, 7):
    date_col = f'ADHOC Payment Date {i}'
    amount_col = f'ADHOC Payment Amount {i}'
    if date_col in merged_df.columns and amount_col in merged_df.columns:
        merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
        temp_df = merged_df.groupby([f'YearMonth {i}', date_col, 'Membership Location', 'Opportunity ID', 'Account Name', 'Membership Start Date', 'Opportunity Amount', 'Total Payments Received'])[amount_col].sum().reset_index()
        temp_df.columns = ['YearMonth', 'ADHOC Payment Date', 'Membership Location', 'Opportunity ID', 'Account Name', 'Membership Start Date', 'Opportunity Amount', 'Total Payments Received', 'Total Payment']
        adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)

# Convert YearMonth to string format for easier reading (optional)
adhoc_totals['YearMonth'] = adhoc_totals['YearMonth'].astype(str)

adhoc_totals['ADHOC Payment Date'] = pd.to_datetime(adhoc_totals['ADHOC Payment Date']).dt.date

# Drop all YearMonth {i} columns as they are no longer needed and causing downstream issues
year_month_columns = [f'YearMonth {i}' for i in range(1, 7)]
merged_df = merged_df.drop(columns=[col for col in year_month_columns if col in merged_df.columns])

# Order by
adhoc_totals = adhoc_totals.sort_values(by=['YearMonth', 'ADHOC Payment Date'], ascending=[False, False])

#adhoc_totals.to_excel('adhoc.xlsx', index=False, sheet_name='Sheet1')

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\678250902.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\678250902.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\678250902.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\678250902.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\678250902.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\678250902.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\678250902.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\678250902.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\678250902.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)

In [210]:
# # Convert payment date columns to datetime
# for i in range(1, 7):
#     date_col = f'ADHOC Payment Date {i}'
#     if date_col in merged_df.columns:
#         merged_df[date_col] = pd.to_datetime(merged_df[date_col])

# # Initialize an empty DataFrame to store the results
# adhoc_totals = pd.DataFrame()

# # Sum payment amounts grouped by YearMonth, Membership Location, and ADHOC Payment Date
# for i in range(1, 7):
#     date_col = f'ADHOC Payment Date {i}'
#     amount_col = f'ADHOC Payment Amount {i}'
#     if date_col in merged_df.columns and amount_col in merged_df.columns:
#         merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
#         temp_df = merged_df.groupby([f'YearMonth {i}', date_col, 'Membership Location', 'Opportunity ID', 'Account Name', 'Membership Start Date', 'Opportunity Amount', 'Total Payments Received'])[amount_col].sum().reset_index()
#         temp_df.columns = ['YearMonth', 'ADHOC Payment Date', 'Membership Location', 'Opportunity ID', 'Account Name', 'Membership Start Date', 'Opportunity Amount', 'Total Payments Received', 'Total Payment']
#         adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)

# # Convert YearMonth to string format for easier reading (optional)
# adhoc_totals['YearMonth'] = adhoc_totals['YearMonth'].astype(str)

# adhoc_totals['ADHOC Payment Date'] = pd.to_datetime(adhoc_totals['ADHOC Payment Date']).dt.date

# adhoc_totals.to_excel('adhoc.xlsx', index=False, sheet_name='Sheet1')

### Sales Commission Calculations

In [211]:
sales_commission_df = merged_df[['Opportunity ID', 'Salesforce Opportunity ID', 'Salesforce Opportunity Owner','Account Name', 'Distinct Account Opportunity Count(s)', 'Account Membership Start Date(s)', 'Account Membership End Date(s)', 'Number of Opportunity Products','Opportunity Product Line Item(s)',
                                 'Opportunity Product Short Name(s)','Membership Location','Membership Start Date','Prior Membership Start Date(s)','Membership End Date','Prior Membership Expiration Date(s)',
                                 'Opportunity Amount','Opportunity Term Length (Years)',
                                 'Payment 1 Amount','Prior Payment 1 Values','Payment 1 Completed Date','Prior Payment 1 Completed Date Values',
                                 'Payment 2 Amount','Prior Payment 2 Values','Payment 2 Completed Date','Prior Payment 2 Completed Date Values',
                                 'Total Payments Received','Payment Notes',
                                 'Opportunity Last Modified Date','Opportunity Created Date']]

In [212]:
# Convert date columns to datetime
sales_commission_df['Payment 1 Completed Date'] = pd.to_datetime(sales_commission_df['Payment 1 Completed Date'])
sales_commission_df['Payment 2 Completed Date'] = pd.to_datetime(sales_commission_df['Payment 2 Completed Date'])

# Function to get the quarter and year from a datetime object
def get_quarter_year(date):
    if pd.isna(date):
        return ''
    return f"Q{date.quarter} {date.year}"

# Apply the function to get quarters and years for each date column
sales_commission_df['Payment 1 Quarter Year'] = sales_commission_df['Payment 1 Completed Date'].apply(get_quarter_year)
sales_commission_df['Payment 2 Quarter Year'] = sales_commission_df['Payment 2 Completed Date'].apply(get_quarter_year)

# Concatenate the quarters and years into the new column 'Sales Commission Quarter(s)'
def concatenate_quarters_years(row):
    quarters_years = {row['Payment 1 Quarter Year'], row['Payment 2 Quarter Year']}
    return ', '.join(sorted(filter(None, quarters_years)))  # Remove empty strings and sort for consistency

sales_commission_df['Sales Commission Quarter(s)'] = sales_commission_df.apply(concatenate_quarters_years, axis=1)

# Define the year and quarter to sum payments for
specified_year = 2024
specified_quarter = 2  # For Q2

# Create dynamic column title
dynamic_column_title = f'Q{specified_quarter} {specified_year} Payment Totals'

# Function to sum payments for a given year and quarter
def sum_payments_by_period(df, year, quarter):
    # Create a period for the specified year and quarter
    period = f"Q{quarter} {year}"
    
    # Filter rows for the specified year and quarter
    mask1 = df['Payment 1 Quarter Year'] == period
    mask2 = df['Payment 2 Quarter Year'] == period
    
    # Sum payments based on the specified period
    payment_1_sum = df.loc[mask1, 'Payment 1 Amount'].sum()
    payment_2_sum = df.loc[mask2, 'Payment 2 Amount'].sum()
    
    # Return the total sum of payments
    return payment_1_sum + payment_2_sum

# Apply function to get total payments for each row based on the specified year and quarter
def calculate_quarter_year_payment_totals(row):
    # Compute the total payment based on the precomputed periods and specified variables
    total_payments = 0
    for period in [row['Payment 1 Quarter Year']]:
        if period == f"Q{specified_quarter} {specified_year}":
            total_payments += row['Payment 1 Amount'] if row['Payment 1 Quarter Year'] == period else 0

    for period in [row['Payment 2 Quarter Year']]:
        if period == f"Q{specified_quarter} {specified_year}":
            total_payments += row['Payment 2 Amount'] if row['Payment 2 Quarter Year'] == period else 0
    return total_payments

# Create the new column with the dynamic title based on specified variables
sales_commission_df[dynamic_column_title] = sales_commission_df.apply(calculate_quarter_year_payment_totals, axis=1)

# Drop intermediate columns if not needed
sales_commission_df.drop(columns=['Payment 1 Quarter Year', 'Payment 2 Quarter Year'], inplace=True)

# Convert back to date (without time)
sales_commission_df['Payment 1 Completed Date'] = sales_commission_df['Payment 1 Completed Date'].dt.date
sales_commission_df['Payment 2 Completed Date'] = sales_commission_df['Payment 2 Completed Date'].dt.date

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4272038577.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Payment 1 Completed Date'] = pd.to_datetime(sales_commission_df['Payment 1 Completed Date'])
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4272038577.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Payment 2 Completed Date'] = pd.to_datetime(sales_commission_df['Payment 2 Completed Date'])
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4272038577.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Payment 1 Quarter Year'] = sales_commission_df['Payment 1 Completed Date'].apply(get_quarter_year)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4272038577.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Payment 2 Quarter Year'] = sales_commission_df['Payment 2 Completed Date'].apply(get_quarter_year)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4272038577.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Sales Commission Quarter(s)'] = sales_commission_df.apply(concatenate_quarters_years, axis=1)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4272038577.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df[dynamic_column_title] = sales_commission_df.apply(calculate_quarter_year_payment_totals, axis=1)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4272038577.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df.drop(columns=['Payment 1 Quarter Year', 'Payment 2 Quarter Year'], inplace=True)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4272038577.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Payment 1 Completed Date'] = sales_commission_df['Payment 1 Completed Date'].dt.date
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\4272038577.py:66: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Payment 2 Completed Date'] = sales_commission_df['Payment 2 Completed Date'].dt.date

In [213]:
# Define initial commission amounts
full_commission = 300
medium_range_commission = 0.75 * full_commission
low_range_commission = 0.25 * full_commission
additional_yearly_commission = 150

# Function to calculate the initial earned commission
def calculate_commission(row):
    base_commission = 0
    if 'Initial' in row['Opportunity Product Short Name(s)'] and row[dynamic_column_title] > 0:
        # Calculate base commission based on payment ranges
        if 10000 <= row[dynamic_column_title] / row['Opportunity Term Length (Years)'] <= 14999:
            base_commission = medium_range_commission
        elif row[dynamic_column_title] / row['Opportunity Term Length (Years)'] <= 9999:
            base_commission = low_range_commission
        else:
            base_commission = full_commission
        
        # Add commission for each additional year beyond the first
        additional_commission = max(0, row['Opportunity Term Length (Years)'] - 1) * additional_yearly_commission
        return base_commission + additional_commission
    
    return 0  # No commission if 'Initial' is not in the product short name

# Apply the function to create the 'Initial Earned Commission' column
sales_commission_df['Initial Earned Commission'] = sales_commission_df.apply(calculate_commission, axis=1)

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\1640119039.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Initial Earned Commission'] = sales_commission_df.apply(calculate_commission, axis=1)

In [214]:
# Define renewal commission amounts 
commission_per_year = 150

# Function to calculate the renewal earned commission
def calculate_renewal_commission(row):
    if 'Renewal' in row['Opportunity Product Short Name(s)'] and row[dynamic_column_title] > 0:
        return row['Opportunity Term Length (Years)'] * commission_per_year
    return 0  # No commission if 'Renewal' is not in the product short name

# Apply the function to create the 'Renewal Earned Commission' column
sales_commission_df['Renewal Earned Commission'] = sales_commission_df.apply(calculate_renewal_commission, axis=1)

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\492886908.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Renewal Earned Commission'] = sales_commission_df.apply(calculate_renewal_commission, axis=1)

In [215]:
# Define commission amounts
upgrade_commission = 200

# Function to calculate the earned commission
def calculate_commission(row):
    commission = 0
    if 'Upgrade' in row['Opportunity Product Short Name(s)'] and row[dynamic_column_title] > 0:
        commission += upgrade_commission
        commission += (row['Opportunity Term Length (Years)']-1) * commission_per_year #multi-year bonus additions for 'upgrades'
    return commission

# Apply the function to create the 'Earned Commission' column
sales_commission_df['Upgrade Earned Commission'] = sales_commission_df.apply(calculate_commission, axis=1)

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2793828867.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Upgrade Earned Commission'] = sales_commission_df.apply(calculate_commission, axis=1)

In [216]:
sales_commission_df['Total Earned Commission'] = sales_commission_df['Initial Earned Commission'] + sales_commission_df['Renewal Earned Commission'] + sales_commission_df['Upgrade Earned Commission']

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2848029954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sales_commission_df['Total Earned Commission'] = sales_commission_df['Initial Earned Commission'] + sales_commission_df['Renewal Earned Commission'] + sales_commission_df['Upgrade Earned Commission']

In [217]:
sales_commission_df = sales_commission_df[[ #Reorder columns
                        'Opportunity ID', 'Salesforce Opportunity ID', 'Salesforce Opportunity Owner', 'Account Name', 'Distinct Account Opportunity Count(s)', 
                        'Account Membership Start Date(s)', 'Account Membership End Date(s)', 'Number of Opportunity Products', 'Opportunity Product Line Item(s)',
                        'Opportunity Product Short Name(s)', 'Membership Location', 'Membership Start Date', 'Prior Membership Start Date(s)', 'Membership End Date',
                        'Prior Membership Expiration Date(s)', 'Opportunity Amount', 'Opportunity Term Length (Years)', 
                        'Payment 1 Amount', 'Prior Payment 1 Values', 'Payment 1 Completed Date', 'Prior Payment 1 Completed Date Values', 
                        'Payment 2 Amount', 'Prior Payment 2 Values', 'Payment 2 Completed Date', 'Prior Payment 2 Completed Date Values', 
                        'Total Payments Received', dynamic_column_title, 'Payment Notes', #Dyanmic column with specified commission month
                        'Opportunity Last Modified Date', 'Opportunity Created Date', 'Sales Commission Quarter(s)',
                        'Initial Earned Commission', 'Renewal Earned Commission', 'Upgrade Earned Commission', 'Total Earned Commission'
                        ]]

In [218]:
sales_commission_df.head(3)

,Opportunity ID,Salesforce Opportunity ID,Salesforce Opportunity Owner,Account Name,Distinct Account Opportunity Count(s),Account Membership Start Date(s),Account Membership End Date(s),Number of Opportunity Products,Opportunity Product Line Item(s),Opportunity Product Short Name(s),Membership Location,Membership Start Date,Prior Membership Start Date(s),Membership End Date,Prior Membership Expiration Date(s),Opportunity Amount,Opportunity Term Length (Years),Payment 1 Amount,Prior Payment 1 Values,Payment 1 Completed Date,Prior Payment 1 Completed Date Values,Payment 2 Amount,Prior Payment 2 Values,Payment 2 Completed Date,Prior Payment 2 Completed Date Values,Total Payments Received,Q2 2024 Payment Totals,Payment Notes,Opportunity Last Modified Date,Opportunity Created Date,Sales Commission Quarter(s),Initial Earned Commission,Renewal Earned Commission,Upgrade Earned Commission,Total Earned Commission
12442,OPP-14780,0065c00001Px0T7AAJ,Thomas Rossman,"Erve, John",2,"2027-03-31, 2024-03-30","2029-03-31, 2027-03-30",1.00,"Erve, John - 100+ Renewal - Multi Year 2 Year ...",100+ Renewal - Multi Year,"Health Nucleus-South San Francisco, CA",2027-03-31,NaN,2029-03-31,NaN,"9,000.00",2.00,"9,000.00",NaN,2024-06-04,NaN,NaN,NaN,NaT,NaN,"9,000.00","9,000.00",None,2024-06-17,2024-06-05,Q2 2024,0.00,300.00,0.00,300.00
12717,OPP-14900,0065c00001RbVRFAA3,Thomas Rossman,"Fleming, Gregory",2,"2026-12-31, 2023-12-31","2028-12-31, 2026-12-31",1.00,"Fleming, Gregory - 100+ Renewal - Multi Year 2...",100+ Renewal - Multi Year,"Health Nucleus-South San Francisco, CA",2026-12-31,NaN,2028-12-31,NaN,"9,000.00",2.00,"9,000.00",NaN,2024-07-11,NaN,NaN,NaN,NaT,NaN,"9,000.00",0.00,This funds transfer was received on 2024-07-11...,2024-07-18,2024-07-09,Q3 2024,0.00,0.00,0.00,0.00
12191,OPP-14644,0065c00001PuhlOAAR,Thomas Rossman,"Fankhauser, Sandra",2,"2026-12-30, 2021-12-30","2031-12-30, 2026-12-29",1.00,"Fankhauser, Sandra - 100+ Renewal - Multi Year...",100+ Renewal - Multi Year,"Health Nucleus-South San Francisco, CA",2026-12-30,NaN,2031-12-30,NaN,"45,000.00",5.00,"45,000.00",NaN,2024-04-29,NaN,NaN,NaN,NaT,NaN,"45,000.00","45,000.00",RE: Payment under our reference US240429176449...,2024-05-14,2024-04-19,Q2 2024,0.00,750.00,0.00,750.00

### Save to Excel

In [219]:
merged_df.head(2)

,Opportunity ID,Salesforce Opportunity ID,Salesforce Opportunity Owner,Name,Opportunity Stage,Account ID,Account Name,Account Type,Distinct Account Opportunity Count(s),Account Membership Start Date(s),Account Membership End Date(s),Number of Opportunity Products,Opportunity Product Line Item(s),Opportunity Product Short Name(s),Membership Location,Prior Membership Start Date(s),1st Membership Start Date (IF UPDATED),Membership Start Date,MSD - Difference in Days,Prior Membership Expiration Date(s),Membership End Date,Start & End Date - Year Difference,Membership Start Date vs. Payment Dates,Opportunity Amount,Opportunity Term Length (Years),Opportunity Term Length (Months),Payment 1 Amount,Prior Payment 1 Values,Payment 1 Method,Payment 1 Completed Date,Prior Payment 1 Completed Date Values,Payment 2 Amount,Prior Payment 2 Values,Payment 2 Method,Payment 2 Completed Date,Prior Payment 2 Completed Date Values,Total Payments Received,Payment Notes,Payment Notes - INVOICE CREATED,ADHOC Payment Amount 1,ADHOC Payment Date 1,ADHOC Payment Method 1,ADHOC Payment Amount 2,ADHOC Payment Date 2,ADHOC Payment Method 2,ADHOC Payment Amount 3,ADHOC Payment Date 3,ADHOC Payment Method 3,ADHOC Payment Amount 4,ADHOC Payment Date 4,ADHOC Payment Method 4,ADHOC Payment Amount 5,ADHOC Payment Date 5,ADHOC Payment Method 5,ADHOC Payment Amount 6,ADHOC Payment Date 6,ADHOC Payment Method 6,Opportunity Deleted,Opportunity Last Modified Date,Opportunity Created Date,February 2021,March 2021,April 2021,May 2021,June 2021,July 2021,August 2021,September 2021,October 2021,November 2021,December 2021,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,October 2022,November 2022,December 2022,January 2023,February 2023,March 2023,April 2023,May 2023,June 2023,July 2023,August 2023,September 2023,October 2023,November 2023,December 2023,January 2024,February 2024,March 2024,April 2024,May 2024,June 2024,July 2024,August 2024,September 2024,October 2024,November 2024,December 2024,January 2025,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025,October 2025,November 2025,December 2025,January 2026,February 2026,March 2026,April 2026,May 2026,June 2026,July 2026,August 2026,September 2026,October 2026,November 2026,December 2026,January 2027,February 2027,March 2027,April 2027,May 2027,June 2027,July 2027,August 2027,September 2027,October 2027,November 2027,December 2027,January 2028,February 2028,March 2028,April 2028,May 2028,June 2028,July 2028,August 2028,September 2028,October 2028,November 2028,December 2028,January 2029,February 2029,March 2029,April 2029,May 2029,June 2029,July 2029,August 2029,September 2029,October 2029,November 2029,December 2029,January 2030,February 2030,March 2030,April 2030,May 2030,June 2030,July 2030,August 2030,September 2030,October 2030,November 2030,December 2030,January 2031,February 2031,March 2031,April 2031,May 2031,June 2031,July 2031,August 2031,September 2031,October 2031,November 2031,December 2031,January 2032,February 2032,March 2032,April 2032,May 2032,June 2032,July 2032,August 2032,April 2024 - ADHOC,February 2024 - ADHOC,March 2024 - ADHOC,May 2024 - ADHOC,June 2024 - ADHOC,January 2024 - ADHOC,July 2024 - ADHOC,Customer Deposits
12442,OPP-14780,0065c00001Px0T7AAJ,Thomas Rossman,"Erve, John - 100+ Renewal - Multi Year",Contract and Invoice Sent,ACCT-15068,"Erve, John",Person (B2C),2,"2027-03-31, 2024-03-30","2029-03-31, 2027-03-30",1.00,"Erve, John - 100+ Renewal - Multi Year 2 Year ...",100+ Renewal - Multi Year,"Health Nucleus-South San Francisco, CA",NaN,NaT,2027-03-31,,NaN,2029-03-31,2.00,False,"9,000.00",2.00,24.00,"9,000.00",NaN,Check,2024-06-04,NaN,NaN,NaN,None,NaT,NaN,"9,000.00",None,False,NaN,NaT,None,NaN,NaT,None,NaN,NaT,None,None,NaT,None,None,NaT,None,None,NaT,None,False,2024-06-17,2024-06-05,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,0,0,"9,000.00"
12717,OPP-14900,0065c00001RbVRFAA3,Thomas Rossman,"Fleming, Gregory - 100+ Renewal - Multi Year",Contract and Invoice Sent,ACCT-14761,"Fleming, Gregory",Person (B2C),2,"2026-12-31, 2023-12-31","2028-12-31, 2026-12-31",1.00,"Fleming, Gregory - 100+ Renewal - Multi Year 2...",100+ Renewal - Multi Year,"Health Nucleus-South San Francisco, CA",NaN,NaT,2026-12-31,,NaN,2028-12-31,2.00,False,"9,000.00",2.00,24.00,"9,000.00",NaN,Wire Transfer,2024-07-11,NaN,NaN,NaN,None,NaT,NaN,"9,000.00",This funds transfer was received on 2024-07-11...,False,NaN,NaT,None,NaN,NaT,None,NaN,NaT,None,None,NaT,None,None,NaT,None,None,NaT,None,False,2024-07-18,2024-07-09,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,450.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,300.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0,0,0,0,0,"9,000.00"

In [220]:
# Get the current date in YYYY-MM-DD format
current_date = datetime.now().strftime('%Y-%m-%d')

# Specify the full path with the current date in the file name
excel_file = fr'C:\Users\cmccullough\Desktop\Revenue\salesforce_reports_{current_date}.xlsx'

# Create a new Excel workbook and add a worksheet
wb = Workbook()
ws = wb.active
ws.title = 'Salesforce Opportunity Data'

# Write the header
for col_num, value in enumerate(merged_df.columns.values):
    cell = ws.cell(row=1, column=col_num + 1)
    cell.value = value
    cell.font = Font(bold=True)

# Define a function to apply italic formatting to text in parentheses
def italicize_and_write(ws, row_num, col_num, text):
    parts = re.split(r'(\(.*?\))', text)
    italic_font = Font(italic=True)
    normal_font = Font(italic=False)

    cell = ws.cell(row=row_num, column=col_num)
    cell.value = ''.join(parts)  # set cell value to whole text to start

    for part in parts:
        start_pos = cell.value.find(part)
        end_pos = start_pos + len(part)
        if part.startswith('(') and part.endswith(')'):
            ws[cell.coordinate].font = italic_font
        else:
            ws[cell.coordinate].font = normal_font

# Write the data with italicized text in parentheses
for row_num, row in enumerate(merged_df.itertuples(index=False, name=None), start=2):
    for col_num, value in enumerate(row):
        cell = ws.cell(row=row_num, column=col_num + 1)
        if col_num == 0 and isinstance(value, str):  # Apply italicize function only to the first column
            italicize_and_write(ws, row_num, col_num + 1, value)
        else:
            #print(value) #For testing purposes
            cell.value = value

# Freeze the header row
ws.freeze_panes = 'A2'

# Adjust column widths to display entire header values and limit to maximum of 275 pixels
for col in ws.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column name
    for cell in col:
        try:
            if len(str(cell.value)) > max_length:
                max_length = len(cell.value)
        except:
            pass
    adjusted_width = (max_length + 2) * 1.2  # Adjusted width formula (adjust multiplier as needed)
    max_width_pixels = 275  # Maximum width in pixels
    final_width = min(adjusted_width, max_width_pixels / 7)  # Convert pixels to Excel's character width
    ws.column_dimensions[column].width = final_width

# Color rows in alternate colors (white and light gray)
for idx, row in enumerate(ws.iter_rows(min_row=2, min_col=1, max_col=ws.max_column, values_only=False), start=2):
    if idx % 2 == 0:
        fill = PatternFill(start_color="F2F2F2", end_color="F2F2F2", fill_type="solid")  # Light gray
    else:
        fill = PatternFill(start_color="FFFFFF", end_color="FFFFFF", fill_type="solid")  # White
        
    for cell in row:  # Iterate through cells in the current row
        cell.fill = fill









# Create a new worksheet for merged_df_2
ws_merged_df_2 = wb.create_sheet(title='Invoice & Revenue Schedule')

# Write the header for merged_df_2
header_row = 1
for col_num, col_name in enumerate(merged_df_2.columns, start=1):
    cell = ws_merged_df_2.cell(row=header_row, column=col_num, value=col_name)
    cell.font = Font(bold=True)

    if col_name in ('Monthly Invoice Total','Revenue to Recognize','Health Nucleus - San Diego, CA','Health Nucleus-South San Francisco, CA','Customer Deposits Balance', 'Deferred Revenue Balance'):
        fill = PatternFill(start_color='ADD8E6', end_color='ADD8E6', fill_type='solid')  # Light blue fill
        cell.fill = fill
    if col_name in ('ADHOC - Total','ADHOC - Health Nucleus - San Diego, CA','ADHOC - Health Nucleus-South San Francisco, CA'):
        fill = PatternFill(start_color='FDE9D9', end_color='FDE9D9', fill_type='solid')  # Light blue fill
        cell.fill = fill
    
# Write the data for merged_df_2
for row_num, row in enumerate(merged_df_2.values, start=header_row + 1):
    for col_num, value in enumerate(row, start=1):
        cell = ws_merged_df_2.cell(row=row_num, column=col_num, value=value)

# Freeze the header row
ws_merged_df_2.freeze_panes = 'A2'

# Adjust column widths to display entire header values and limit to maximum of 275 pixels
for col in ws_merged_df_2.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column name
    for cell in col:
        try:
            if len(str(cell.value)) > max_length:
                max_length = len(str(cell.value))
        except:
            pass
    adjusted_width = (max_length + 2) * 1.2  # Adjusted width formula (adjust multiplier as needed)
    max_width_pixels = 275  # Maximum width in pixels
    final_width = min(adjusted_width, max_width_pixels / 7)  # Convert pixels to Excel's character width
    ws_merged_df_2.column_dimensions[column].width = final_width

# Color rows in alternate colors (white and light gray)
for idx, row in enumerate(ws_merged_df_2.iter_rows(min_row=header_row + 1, min_col=1, max_col=ws_merged_df_2.max_column, values_only=False), start=header_row + 1):
    if idx % 2 == 0:
        fill = PatternFill(start_color="F2F2F2", end_color="F2F2F2", fill_type="solid")  # Light gray
    else:
        fill = PatternFill(start_color="FFFFFF", end_color="FFFFFF", fill_type="solid")  # White
        
    for cell in row:  # Iterate through cells in the current row
        cell.fill = fill
        













# Add tab for Ad-hoc Payments
adhoc_totals_sheet = wb.create_sheet(title='Ad-Hoc Payments')
# Write the header for adhoc_totals
header_row = 1
for col_num, col_name in enumerate(adhoc_totals.columns, start=1):
    cell = adhoc_totals_sheet.cell(row=header_row, column=col_num, value=col_name)
    cell.font = Font(bold=True)

    if col_name in ('Sales Commission Quarter(s)'):
        fill = PatternFill(start_color='F4F698', end_color='F4F698', fill_type='solid')  # Light yellow fill


# Write the data for adhoc_totals
for row_num, row in enumerate(adhoc_totals.values, start=header_row + 1):
    for col_num, value in enumerate(row, start=1):
        cell = adhoc_totals_sheet.cell(row=row_num, column=col_num, value=value)

# Freeze the header row
adhoc_totals_sheet.freeze_panes = 'A2'

# Adjust column widths to display entire header values and limit to maximum of 275 pixels
for col in adhoc_totals_sheet.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column name
    for cell in col:
        try:
            if len(str(cell.value)) > max_length:
                max_length = len(str(cell.value))
        except:
            pass
    adjusted_width = (max_length + 2) * 1.2  # Adjusted width formula (adjust multiplier as needed)
    max_width_pixels = 275  # Maximum width in pixels
    final_width = min(adjusted_width, max_width_pixels / 7)  # Convert pixels to Excel's character width
    adhoc_totals_sheet.column_dimensions[column].width = final_width

# Color rows in alternate colors (white and light gray)
for idx, row in enumerate(adhoc_totals_sheet.iter_rows(min_row=header_row + 1, min_col=1, max_col=adhoc_totals_sheet.max_column, values_only=False), start=header_row + 1):
    if idx % 2 == 0:
        fill = PatternFill(start_color="F2F2F2", end_color="F2F2F2", fill_type="solid")  # Light gray
    else:
        fill = PatternFill(start_color="FFFFFF", end_color="FFFFFF", fill_type="solid")  # White
        
    for cell in row:  # Iterate through cells in the current row
        cell.fill = fill













# Create a new worksheet for sales_commission_df
ws_merged_df_3 = wb.create_sheet(title='Sales Commission')

# Write the header for merged_df_2
header_row = 1
for col_num, col_name in enumerate(sales_commission_df.columns, start=1):
    cell = ws_merged_df_3.cell(row=header_row, column=col_num, value=col_name)
    cell.font = Font(bold=True)

    if col_name in ('Sales Commission Quarter(s)', dynamic_column_title):
        fill = PatternFill(start_color='F4F698', end_color='F4F698', fill_type='solid')  # Light yellow fill
        cell.fill = fill

    if col_name in ('Initial Earned Commission','Renewal Earned Commission', 'Upgrade Earned Commission'):
        fill = PatternFill(start_color='ADD8E6', end_color='ADD8E6', fill_type='solid')  # Light blue fill
        cell.fill = fill

    if col_name in ('Total Earned Commission'):
        fill = PatternFill(start_color='E1B9B9', end_color='E1B9B9', fill_type='solid')  # Light red fill
        cell.fill = fill

# Write the data for merged_df_2
for row_num, row in enumerate(sales_commission_df.values, start=header_row + 1):
    for col_num, value in enumerate(row, start=1):
        cell = ws_merged_df_3.cell(row=row_num, column=col_num, value=value)

# Freeze the header row
ws_merged_df_3.freeze_panes = 'A2'

# Adjust column widths to display entire header values and limit to maximum of 275 pixels
for col in ws_merged_df_3.columns:
    max_length = 0
    column = col[0].column_letter  # Get the column name
    for cell in col:
        try:
            if len(str(cell.value)) > max_length:
                max_length = len(str(cell.value))
        except:
            pass
    adjusted_width = (max_length + 2) * 1.2  # Adjusted width formula (adjust multiplier as needed)
    max_width_pixels = 275  # Maximum width in pixels
    final_width = min(adjusted_width, max_width_pixels / 7)  # Convert pixels to Excel's character width
    ws_merged_df_3.column_dimensions[column].width = final_width

# Color rows in alternate colors (white and light gray)
for idx, row in enumerate(ws_merged_df_3.iter_rows(min_row=header_row + 1, min_col=1, max_col=ws_merged_df_3.max_column, values_only=False), start=header_row + 1):
    if idx % 2 == 0:
        fill = PatternFill(start_color="F2F2F2", end_color="F2F2F2", fill_type="solid")  # Light gray
    else:
        fill = PatternFill(start_color="FFFFFF", end_color="FFFFFF", fill_type="solid")  # White
        
    for cell in row:  # Iterate through cells in the current row
        cell.fill = fill

In [221]:
# Save the workbook
wb.save(excel_file)

print(f"Excel file '{excel_file}' saved.")

Excel file 'C:\Users\cmccullough\Desktop\Revenue\salesforce_reports_2024-08-01.xlsx' saved.

In [222]:
print(merged_df.columns.tolist())

['Opportunity ID', 'Salesforce Opportunity ID', 'Salesforce Opportunity Owner', 'Name', 'Opportunity Stage', 'Account ID', 'Account Name', 'Account Type', 'Distinct Account Opportunity Count(s)', 'Account Membership Start Date(s)', 'Account Membership End Date(s)', 'Number of Opportunity Products', 'Opportunity Product Line Item(s)', 'Opportunity Product Short Name(s)', 'Membership Location', 'Prior Membership Start Date(s)', '1st Membership Start Date (IF UPDATED)', 'Membership Start Date', 'MSD - Difference in Days', 'Prior Membership Expiration Date(s)', 'Membership End Date', 'Start & End Date - Year Difference', 'Membership Start Date vs. Payment Dates', 'Opportunity Amount', 'Opportunity Term Length (Years)', 'Opportunity Term Length (Months)', 'Payment 1 Amount', 'Prior Payment 1 Values', 'Payment 1 Method', 'Payment 1 Completed Date', 'Prior Payment 1 Completed Date Values', 'Payment 2 Amount', 'Prior Payment 2 Values', 'Payment 2 Method', 'Payment 2 Completed Date', 'Prior Payment 2 Completed Date Values', 'Total Payments Received', 'Payment Notes', 'Payment Notes - INVOICE CREATED', 'ADHOC Payment Amount 1', 'ADHOC Payment Date 1', 'ADHOC Payment Method 1', 'ADHOC Payment Amount 2', 'ADHOC Payment Date 2', 'ADHOC Payment Method 2', 'ADHOC Payment Amount 3', 'ADHOC Payment Date 3', 'ADHOC Payment Method 3', 'ADHOC Payment Amount 4', 'ADHOC Payment Date 4', 'ADHOC Payment Method 4', 'ADHOC Payment Amount 5', 'ADHOC Payment Date 5', 'ADHOC Payment Method 5', 'ADHOC Payment Amount 6', 'ADHOC Payment Date 6', 'ADHOC Payment Method 6', 'Opportunity Deleted', 'Opportunity Last Modified Date', 'Opportunity Created Date', 'February 2021', 'March 2021', 'April 2021', 'May 2021', 'June 2021', 'July 2021', 'August 2021', 'September 2021', 'October 2021', 'November 2021', 'December 2021', 'January 2022', 'February 2022', 'March 2022', 'April 2022', 'May 2022', 'June 2022', 'July 2022', 'August 2022', 'September 2022', 'October 2022', 'November 2022', 'December 2022', 'January 2023', 'February 2023', 'March 2023', 'April 2023', 'May 2023', 'June 2023', 'July 2023', 'August 2023', 'September 2023', 'October 2023', 'November 2023', 'December 2023', 'January 2024', 'February 2024', 'March 2024', 'April 2024', 'May 2024', 'June 2024', 'July 2024', 'August 2024', 'September 2024', 'October 2024', 'November 2024', 'December 2024', 'January 2025', 'February 2025', 'March 2025', 'April 2025', 'May 2025', 'June 2025', 'July 2025', 'August 2025', 'September 2025', 'October 2025', 'November 2025', 'December 2025', 'January 2026', 'February 2026', 'March 2026', 'April 2026', 'May 2026', 'June 2026', 'July 2026', 'August 2026', 'September 2026', 'October 2026', 'November 2026', 'December 2026', 'January 2027', 'February 2027', 'March 2027', 'April 2027', 'May 2027', 'June 2027', 'July 2027', 'August 2027', 'September 2027', 'October 2027', 'November 2027', 'December 2027', 'January 2028', 'February 2028', 'March 2028', 'April 2028', 'May 2028', 'June 2028', 'July 2028', 'August 2028', 'September 2028', 'October 2028', 'November 2028', 'December 2028', 'January 2029', 'February 2029', 'March 2029', 'April 2029', 'May 2029', 'June 2029', 'July 2029', 'August 2029', 'September 2029', 'October 2029', 'November 2029', 'December 2029', 'January 2030', 'February 2030', 'March 2030', 'April 2030', 'May 2030', 'June 2030', 'July 2030', 'August 2030', 'September 2030', 'October 2030', 'November 2030', 'December 2030', 'January 2031', 'February 2031', 'March 2031', 'April 2031', 'May 2031', 'June 2031', 'July 2031', 'August 2031', 'September 2031', 'October 2031', 'November 2031', 'December 2031', 'January 2032', 'February 2032', 'March 2032', 'April 2032', 'May 2032', 'June 2032', 'July 2032', 'August 2032', 'April 2024 - ADHOC', 'February 2024 - ADHOC', 'March 2024 - ADHOC', 'May 2024 - ADHOC', 'June 2024 - ADHOC', 'January 2024 - ADHOC', 'July 2024 - ADHOC', 'Customer Deposits']

## Salesforce Authentication

In [223]:
from simple_salesforce import Salesforce
import pandas as pd
import re
from openpyxl import Workbook, load_workbook
from openpyxl.styles import Font, PatternFill
from openpyxl.utils import get_column_letter
from datetime import datetime, timedelta  # Import timedelta from datetime module
#Pandas display options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
pd.options.display.float_format = '{:,.2f}'.format


sf = Salesforce(password='SanDiego1', username='cmccullough@humanlongevity.com', organizationId='00Do0000000HVFz', security_token='sjHUWRNRMM2EjzrAHw2ljGRP')

In [224]:
# Convert payment date columns to datetime
for i in range(1, 7):
    date_col = f'ADHOC Payment Date {i}'
    if date_col in merged_df.columns:
        merged_df[date_col] = pd.to_datetime(merged_df[date_col])

# Initialize an empty DataFrame to store the results
adhoc_totals = pd.DataFrame()

# Sum payment amounts grouped by YearMonth, Membership Location, and ADHOC Payment Date
for i in range(1, 7):
    date_col = f'ADHOC Payment Date {i}'
    amount_col = f'ADHOC Payment Amount {i}'
    if date_col in merged_df.columns and amount_col in merged_df.columns:
        merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
        temp_df = merged_df.groupby([f'YearMonth {i}', date_col, 'Membership Location', 'Opportunity ID', 'Account Name', 'Membership Start Date', 'Opportunity Amount', 'Total Payments Received'])[amount_col].sum().reset_index()
        temp_df.columns = ['YearMonth', 'ADHOC Payment Date', 'Membership Location', 'Opportunity ID', 'Account Name', 'Membership Start Date', 'Opportunity Amount', 'Total Payments Received', 'Total Payment']
        adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)

# Convert YearMonth to string format for easier reading (optional)
adhoc_totals['YearMonth'] = adhoc_totals['YearMonth'].astype(str)

adhoc_totals['ADHOC Payment Date'] = pd.to_datetime(adhoc_totals['ADHOC Payment Date']).dt.date

adhoc_totals.to_excel('adhoc.xlsx', index=False, sheet_name='Sheet1')

C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2618041549.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2618041549.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2618041549.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  merged_df[f'YearMonth {i}'] = merged_df[date_col].dt.to_period('M')
C:\Users\cmccullough\AppData\Local\Temp\ipykernel_19256\2618041549.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  adhoc_totals = pd.concat([adhoc_totals, temp_df], ignore_index=True)